<button type="button" class="btn btn-animated btn-primary btn-animated-x">
    <div class="btn-inner-visible">Hover Me</div>
    <div class="btn-inner-hidden">
      <span class="">
        <i class="bi bi-play"></i>
      </span>
    </div>
  </button>
  <button type="button" class="btn btn-animated btn-primary btn-animated-y">
    <div class="btn-inner-visible">Hover Me</div>
    <div class="btn-inner-hidden">
      <span class="">
        <i class="bi bi-play"></i>
      </span>
    </div>
  </button>
  <button type="button" class="btn btn-animated btn-primary btn-animated-y">
    <div class="btn-inner-visible">
      <span class="">
        <i class="bi bi-play"></i>
      </span>
    </div>
    <div class="btn-inner-hidden">
      <span class="">
        <i class="bi bi-pause"></i>
      </span>
    </div>
  </button>