<form>
    <div class="mb-5">
      <label class="form-label" for="email">Email address</label>
      <input type="email" class="form-control" id="email" placeholder="Your email address">
    </div>
    <div class="mb-5">
      <label class="form-label" for="password">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Password" autocomplete="current-password">
    </div>
    <div class="mb-5">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="check_example" id="check_example">
        <label class="form-check-label" for="check_example">
          Keep me logged in
        </label>
      </div>
    </div>
    <div>
      <a href="#" class="btn btn-primary w-full">
        Sign in
      </a>
    </div>
  </form>