<div>
    <span class="badge rounded-pill bg-primary">Primary</span>
    <span class="badge rounded-pill bg-secondary text-dark">Secondary</span>
    <span class="badge rounded-pill bg-tertiary">Secondary</span>
    <span class="badge rounded-pill bg-success">Success</span>
    <span class="badge rounded-pill bg-danger">Danger</span>
    <span class="badge rounded-pill bg-warning">Warning</span>
    <span class="badge rounded-pill bg-info">Info</span>
    <hr>
    <span class="badge rounded-pill bg-opacity-30 bg-primary text-primary">Primary</span>
    <span class="badge rounded-pill bg-opacity-30 bg-secondary text-dark">Secondary</span>
    <span class="badge rounded-pill bg-opacity-30 bg-tertiary text-tertiary">Secondary</span>
    <span class="badge rounded-pill bg-opacity-30 bg-success text-success">Success</span>
    <span class="badge rounded-pill bg-opacity-30 bg-danger text-danger">Danger</span>
    <span class="badge rounded-pill bg-opacity-30 bg-warning text-warning">Warning</span>
    <span class="badge rounded-pill bg-opacity-30 bg-info text-info">Info</span>
  </div>