<div class="dropdown">
    <button class="btn btn-sm btn-neutral dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
      Dropdown
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <div class="dropdown-item d-flex align-items-center">
        <div>
          <div class="avatar avatar-sm bg-tertiary rounded-circle text-white">
            RF
          </div>
        </div>
        <div class="flex-fill ms-3">
          <a href="#" class="text-sm text-heading font-semibold mb-0">
            Robert Fox
          </a>
        </div>
      </div>
      <div class="dropdown-item d-flex align-items-center">
        <div>
          <div class="avatar avatar-sm rounded-circle">
            <img alt="..." src="https://images.unsplash.com/photo-1610271340738-726e199f0258?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80">
          </div>
        </div>
        <div class="flex-fill ms-3">
          <a href="#" class="text-sm text-heading font-semibold mb-0">
            Darlene Robertson
          </a>
        </div>
      </div>
      <div class="dropdown-item d-flex align-items-center">
        <div>
          <div class="avatar avatar-sm rounded-circle">
            <img alt="..." src="https://images.unsplash.com/photo-1610878722345-79c5eaf6a48c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80">
          </div>
        </div>
        <div class="flex-fill ms-3">
          <a href="#" class="text-sm text-heading font-semibold mb-0">
            Theresa Webb
          </a>
        </div>
      </div>
      <div class="dropdown-item d-flex align-items-center">
        <div>
          <div class="avatar avatar-sm bg-success rounded-circle text-white">
            KW
          </div>
        </div>
        <div class="flex-fill ms-3">
          <a href="#" class="text-sm text-heading font-semibold mb-0">
            Kristin Watson
          </a>
        </div>
      </div>
      <div class="dropdown-item d-flex align-items-center">
        <div>
          <div class="avatar avatar-sm rounded-circle">
            <img alt="..." src="https://images.unsplash.com/photo-1608976328267-e673d3ec06ce?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80">
          </div>
        </div>
        <div class="flex-fill ms-3">
          <a href="#" class="text-sm text-heading font-semibold mb-0">
            Cody Fisher
          </a>
        </div>
      </div>
    </div>
  </div>