<div class="dropdown">
    <button class="btn btn-sm btn-neutral dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
      Dropdown
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <form>
        <div class="dropdown-item py-1 d-flex align-items-center">
          <div class="text-lg">
            <input class="form-check-input" type="checkbox" id="flexCheck1" value="" aria-label="...">
          </div>
          <div class="ms-3 me-5">
            <label for="flexCheck1">First option</label>
          </div>
        </div>
        <div class="dropdown-item py-1 d-flex align-items-center">
          <div class="text-lg">
            <input class="form-check-input" type="checkbox" id="flexCheck2" value="" aria-label="...">
          </div>
          <div class="ms-3 me-5">
            <label for="flexCheck2">Second option</label>
          </div>
          <div class="ms-auto">
            <span class="badge rounded-pill bg-opacity-30 bg-success text-success">23</span>
          </div>
        </div>
        <div class="dropdown-item py-1 d-flex align-items-center">
          <div class="text-lg">
            <input class="form-check-input" type="checkbox" id="flexCheck3" value="" aria-label="...">
          </div>
          <div class="ms-3 me-5">
            <label for="flexCheck3">Third option</label>
          </div>
        </div>
        <div class="dropdown-item py-1 d-flex align-items-center">
          <div class="text-lg">
            <input class="form-check-input" type="checkbox" id="flexCheck4" value="" aria-label="...">
          </div>
          <div class="ms-3 me-5">
            <label for="flexCheck4">Fourth option</label>
          </div>
          <div class="ms-auto">
            <span class="badge rounded-pill bg-opacity-30 bg-warning text-warning">190</span>
          </div>
        </div>
        <div class="dropdown-item py-1 d-flex align-items-center">
          <div class="text-lg">
            <input class="form-check-input" type="checkbox" id="flexCheck5" value="" aria-label="...">
          </div>
          <div class="ms-3 me-5">
            <label for="flexCheck5">Fifth option</label>
          </div>
        </div>
        <div class="dropdown-item">
          <button class="btn btn-sm btn-primary w-full">Save</button>
        </div>
      </form>
    </div>
  </div>