<div class="dropdown">
    <button class="btn btn-sm btn-neutral dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
      Dropdown
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <h6 class="dropdown-header"></h6>
      <div class="w-72 p-7 text-center">
        <span class="d-block display-2 mb-7">👋</span>
        <h6>You have no notifications!</h6>
        <p>
          If you will get any notifications we will tell you about it.
        </p>
      </div>
    </div>
  </div>