<div class="dropdown">
    <button class="btn btn-sm btn-neutral dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
      Dropdown
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <h6 class="dropdown-header font-semibold">Today</h6>
      <div class="dropdown-item py-3 d-flex align-items-center">
        <div>
          <div class="avatar bg-tertiary rounded-circle text-white">
            RF
          </div>
        </div>
        <div class="flex-fill ms-3">
          <!-- Title -->
          <div class="h6 mb-0">
            Robert Fox
            <small class="float-right font-weight-normal text-muted"></small>
          </div>
          <!-- Text -->
          <p class="text-sm text-muted text-limit">
            Some quick example text to build on the card title.
          </p>
        </div>
      </div>
      <div class="dropdown-item py-3 d-flex align-items-center">
        <div>
          <div class="avatar rounded-circle">
            <img alt="..." src="https://images.unsplash.com/photo-1610271340738-726e199f0258?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80">
          </div>
        </div>
        <div class="flex-fill ms-3">
          <!-- Title -->
          <div class="h6 mb-0">
            Darlene Robertson
            <small class="float-right font-weight-normal text-muted"></small>
          </div>
          <!-- Text -->
          <p class="text-sm text-muted text-limit">
            Some quick example text to build on the card title.
          </p>
        </div>
      </div>
      <h6 class="dropdown-header font-semibold mt-5">Yesterday</h6>
      <div class="dropdown-item py-3 d-flex align-items-center">
        <div>
          <div class="avatar rounded-circle">
            <img alt="..." src="https://images.unsplash.com/photo-1610878722345-79c5eaf6a48c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80">
          </div>
        </div>
        <div class="flex-fill ms-3">
          <!-- Title -->
          <div class="h6 mb-0">
            Theresa Webb
            <small class="float-right font-weight-normal text-muted"></small>
          </div>
          <!-- Text -->
          <p class="text-sm text-muted text-limit">
            Some quick example text to build on the card title.
          </p>
        </div>
      </div>
      <div class="dropdown-item py-3 d-flex align-items-center">
        <div>
          <div class="avatar bg-success rounded-circle text-white">
            KW
          </div>
        </div>
        <div class="flex-fill ms-3">
          <!-- Title -->
          <div class="h6 mb-0">
            Kristin Watson
            <small class="float-right font-weight-normal text-muted"></small>
          </div>
          <!-- Text -->
          <p class="text-sm text-muted text-limit">
            Some quick example text to build on the card title.
          </p>
        </div>
      </div>
      <div class="dropdown-item py-3 d-flex align-items-center">
        <div>
          <div class="avatar rounded-circle">
            <img alt="..." src="https://images.unsplash.com/photo-1608976328267-e673d3ec06ce?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80">
          </div>
        </div>
        <div class="flex-fill ms-3">
          <!-- Title -->
          <div class="h6 mb-0">
            Cody Fisher
            <small class="float-right font-weight-normal text-muted"></small>
          </div>
          <!-- Text -->
          <p class="text-sm text-muted text-limit">
            Some quick example text to build on the card title.
          </p>
        </div>
      </div>
    </div>
  </div>