<div class="dropdown">
    <button class="btn btn-sm btn-neutral dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
      Dropdown
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <div class="dropdown-item d-flex align-items-center">
        <h6 class="dropdown-header p-0 m-0 font-semibold">Notifications</h6>
        <a href="#" class="text-sm ms-auto">Clear all</a>
      </div>
      <div class="dropdown-item py-3 d-flex">
        <div>
          <div class="avatar bg-tertiary rounded-circle text-white">
            RF
          </div>
        </div>
        <div class="flex-fill ms-3">
          <div class="text-sm lg-snug w-64 text-wrap">
            <a href="#" class="font-semibold text-heading">Robert</a> sent a message to <a href="#" class="font-semibold text-heading">Webpixels</a>
          </div>
          <span class="text-muted text-xs">30 mins ago</span>
        </div>
      </div>
      <div class="dropdown-item py-3 d-flex">
        <div>
          <div class="avatar rounded-circle">
            <img alt="..." src="https://images.unsplash.com/photo-1610271340738-726e199f0258?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80">
          </div>
        </div>
        <div class="flex-fill ms-3">
          <div class="text-sm lg-snug w-64 text-wrap">
            Share updates about <a href="#" class="font-semibold text-heading">Webpixels</a> by creating a new post, photo or video.
          </div>
          <span class="text-muted text-xs">1 hr ago</span>
        </div>
      </div>
      <div class="dropdown-item py-3 d-flex">
        <div>
          <div class="avatar rounded-circle">
            <img alt="..." src="https://images.unsplash.com/photo-1610878722345-79c5eaf6a48c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80">
          </div>
        </div>
        <div class="flex-fill ms-3">
          <div class="text-sm lg-snug w-64 text-wrap">
            <a href="#" class="font-semibold text-heading">Mya</a> was assigned to project <a href="#" class="font-semibold text-heading">Website Redesign</a>
          </div>
          <span class="text-muted text-xs">2 hrs ago</span>
        </div>
      </div>
      <div class="dropdown-item py-3 d-flex">
        <div>
          <div class="avatar bg-success rounded-circle text-white">
            KW
          </div>
        </div>
        <div class="flex-fill ms-3">
          <div class="text-sm lg-snug w-64 text-wrap">
            <a href="#" class="font-semibold text-heading">Kate</a> liked your latest post.
          </div>
          <span class="text-muted text-xs">30 mins ago</span>
        </div>
      </div>
      <div class="dropdown-item py-3 d-flex">
        <div>
          <div class="avatar rounded-circle">
            <img alt="..." src="https://images.unsplash.com/photo-1608976328267-e673d3ec06ce?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80">
          </div>
        </div>
        <div class="flex-fill ms-3">
          <div class="text-sm lg-snug w-64 text-wrap">
            <a href="#" class="font-semibold text-heading">Will</a> sent a message to <a href="#" class="font-semibold text-heading">Webpixels</a>
          </div>
          <span class="text-muted text-xs">30 mins ago</span>
        </div>
      </div>
      <div class="dropdown-divider"></div>
      <div class="dropdown-item py-1 text-center">
        <a href="#" class="font-semibold">View all -></a>
      </div>
    </div>
  </div>