<div class="dropdown">
    <button class="btn btn-sm btn-neutral dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
      Dropdown
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <form>
        <div class="dropdown-item d-flex align-items-center">
          <div class="text-lg">
            <input class="form-check-input" type="radio" id="flexRadio1" name="flexRadio" value="" aria-label="...">
          </div>
          <div class="ms-3 me-5">
            <label for="flexRadio1">First option</label>
          </div>
        </div>
        <div class="dropdown-item d-flex align-items-center">
          <div class="text-lg">
            <input class="form-check-input" type="radio" id="flexRadio2" name="flexRadio" value="" aria-label="...">
          </div>
          <div class="ms-3 me-5">
            <label for="flexRadio2">Second option</label>
          </div>
          <div class="ms-auto">
            <span class="badge rounded-pill bg-opacity-30 bg-success text-success">23</span>
          </div>
        </div>
        <div class="dropdown-item d-flex align-items-center">
          <div class="text-lg">
            <input class="form-check-input" type="radio" id="flexRadio3" name="flexRadio" value="" aria-label="...">
          </div>
          <div class="ms-3 me-5">
            <label for="flexRadio3">Third option</label>
          </div>
        </div>
        <div class="dropdown-item d-flex align-items-center">
          <div class="text-lg">
            <input class="form-check-input" type="radio" id="flexRadio4" name="flexRadio" value="" aria-label="...">
          </div>
          <div class="ms-3 me-5">
            <label for="flexRadio4">Fourth option</label>
          </div>
          <div class="ms-auto">
            <span class="badge rounded-pill bg-opacity-30 bg-warning text-warning">190</span>
          </div>
        </div>
        <div class="dropdown-item d-flex align-items-center">
          <div class="text-lg">
            <input class="form-check-input" type="radio" id="flexRadio5" name="flexRadio" value="" aria-label="...">
          </div>
          <div class="ms-3 me-5">
            <label for="flexRadio5">Fifth option</label>
          </div>
        </div>
        <div class="dropdown-item">
          <button class="btn btn-sm btn-primary w-full">Save</button>
        </div>
      </form>
    </div>
  </div>