<div class="dropdown">
    <button class="btn btn-sm btn-neutral dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
      Dropdown
    </button>
    <div class="dropdown-menu dropdown-menu-md" aria-labelledby="dropdownMenuButton">
      <form>
        <div class="dropdown-item d-flex align-items-center">
          <div class="">
            <span class="text-muted font-semibold">Campaign stats</span>
          </div>
          <div class="ms-auto text-end d-flex align-items-center">
            <small class="me-3 text-success">Active</small>
            <div class="form-check form-switch me-n2">
              <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
              <label class="form-check-label" for="flexSwitchCheckChecked"></label>
            </div>
          </div>
        </div>
        <div class="dropdown-divider"></div>
        <div class="dropdown-item py-3 d-flex align-items-center">
          <div class="">
            <span class="font-semibold">Link clicks</span>
          </div>
          <div class="ms-auto text-end d-flex align-items-center">
            <span class="badge rounded-pill bg-secondary text-dark">1900</span>
          </div>
        </div>
        <div class="dropdown-item py-3 d-flex align-items-center">
          <div class="">
            <span class="font-semibold">Purchases</span>
          </div>
          <div class="ms-auto text-end d-flex align-items-center">
            <span class="badge rounded-pill bg-secondary text-dark">298</span>
          </div>
        </div>
        <div class="dropdown-item py-3 d-flex align-items-center">
          <div class="">
            <span class="font-semibold">Cost per click</span>
          </div>
          <div class="ms-auto text-end d-flex align-items-center">
            <span class="badge rounded-pill bg-secondary text-dark">$1.46</span>
          </div>
        </div>
        <div class="dropdown-divider"></div>
        <div class="dropdown-item py-3 d-flex align-items-center">
          <div class="">
            <span class="text-heading font-semibold">Total cost</span>
          </div>
          <div class="ms-auto text-end d-flex align-items-center">
            <span class="badge rounded-pill bg-primary">$435.00</span>
          </div>
        </div>
        <div class="dropdown-divider"></div>
        <div class="dropdown-item py-1 text-center">
          <a href="#" class="font-semibold">See more -></a>
        </div>
      </form>
    </div>
  </div>