<div class="vstack gap-4">
    <!-- Meta -->
    <div class="hstack align-items-center gap-3 position-relative">
      <div>
        <a href="#" class="avatar rounded-circle">
          <img alt="..." src="https://images.unsplash.com/photo-1610271340738-726e199f0258?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80">
        </a>
      </div>
      <div>
        <a class="stretched-link d-block lh-none text-sm font-semibold text-heading mb-2">Darlene Robertson</a>
        <span class="d-block lh-none text-xs text-muted">to me, Alex, John</span>
      </div>
      <div class="ms-auto">
        <span class="lh-none text-xs text-muted">10:30 AM</span>
      </div>
    </div>
    <!-- Mail body -->
    <div class="article text-sm mt-4" id="">
      <p>
        Hey John,
      </p>
      <p>
        I have created all the features I need in order to create a business, e-commerce, blog, portfolio and admin dashboard templates. What I would like to change, though, is the implementation method. I would like to get closer to your approach. I really think that I am getting closer and closer to the quality I want from a theme.
        <br /><br />
        On our official website: <a href="#">https://webpixels.io</a> (it might be unavailable, because we are working on a new version which will be launched in a few days).
      </p>
      <p>
        Best regards,
        <br />
        Alex
      </p>
    </div>
  </div>