<div class="d-flex w-md-2/3 flex-row-reverse ms-auto">
    <div class="ms-3">
      <a href="#" class="avatar avatar-sm rounded-2">
        <img alt="..." src="https://images.unsplash.com/photo-1610878722345-79c5eaf6a48c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80">
      </a>
    </div>
    <div class="ms-auto">
      <!-- Name -->
      <div class="d-flex align-items-center align-self-center flex-row-reverse">
        <span class="d-block lh-none text-sm font-semibold text-heading text-end">Theresa Webb</span>
        <span class="d-block lh-none mx-3 text-xs text-muted text-end">10:30 AM</span>
      </div>
      <!-- Text -->
      <div class="d-flex flex-row-reverse mt-2">
        <div class="px-4 py-3 rounded-bottom-3 rounded-top-start-3 text-sm bg-primary text-white">
          <p>
            Hey, happy to hear from you. Yes, I will be back in a couple of days.
          </p>
        </div>
        <div class="align-self-center me-2">
          <div class="dropdown">
            <a class="text-muted" href="#" role="button" data-bs-toggle="dropdown" id="dropdownMenuButton1" aria-haspopup="true" aria-expanded="false">
              <i class="bi bi-three-dots-vertical"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a href="#!" class="dropdown-item">
                Action
              </a>
              <a href="#!" class="dropdown-item">
                Another action
              </a>
              <a href="#!" class="dropdown-item">
                Something else here
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex flex-row-reverse mt-2">
        <div class="px-4 py-3 rounded-3  text-sm bg-primary text-white">
          <p>
            Meanwhile, here are some pics :)
          </p>
        </div>
        <div class="align-self-center me-2">
          <div class="dropdown">
            <a class="text-muted" href="#" role="button" data-bs-toggle="dropdown" id="dropdownMenuButton2" aria-haspopup="true" aria-expanded="false">
              <i class="bi bi-three-dots-vertical"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a href="#!" class="dropdown-item">
                Action
              </a>
              <a href="#!" class="dropdown-item">
                Another action
              </a>
              <a href="#!" class="dropdown-item">
                Something else here
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>