<div class="hstack flex-wrap w-full">
    <div class="me-3 text-white">
      <div class="position-relative d-inline-block text-current">
        <div class="avatar rounded-circle">
          <img alt="..." src="https://images.unsplash.com/photo-1579463148228-138296ac3b98?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80">
        </div>
        <span class="position-absolute bottom-2 end-2 transform translate-x-1/2 translate-y-1/2 border-2 border-solid border-current w-3 h-3 bg-success rounded-circle"></span>
      </div>
    </div>
    <div class="flex-1">
      <div class="d-flex align-items-center mb-1">
        <a href="#" class="d-block h6 me-auto stretched-link">Michael Jordan</a>
        <span class="text-muted text-xs ms-2">12:30 PM</span>
      </div>
      <div class="d-flex align-items-center">
        <div class="w-3/4 text-sm text-muted line-clamp-1 me-auto">
          I'm going to meet my friend ...
        </div>
      </div>
    </div>
  </div>