<div class="alert alert-danger" role="alert">
    <div class="d-flex align-items-center">
      <div class="w-8 text-lg">
        <i class="bi bi-check-circle-fill"></i>
      </div>
      <span class="font-bold">This is an error message</span>
    </div>
    <div class="ps-10">
      <ul class="m-0 mt-1 ps-3">
        <li class=" text-sm">These credentials do not match our records.</li>
        <li class=" text-sm">Too many login attempts. Please try again in 50 seconds.</li>
      </ul>
    </div>
  </div>