<div class="bg-body d-flex align-items-center position-relative px-5 py-5 rounded-3 shadow font-semibold text-heading" role="alert">
    <div class="d-flex align-items-center">
      <div class="w-16 text-lg">
        <div class="icon icon-shape bg-warning text-white rounded-circle">
          <i class="bi bi-check"></i>
        </div>
      </div>
      This is an error message
    </div>
    <div class="ms-auto">
      <a href="#" class="text-muted">
        <i class="bi bi-arrow-right"></i>
      </a>
    </div>
  </div>