<div class="bg-light position-relative d-flex p-2 rounded shadow-sm" role="alert">
    <div class="w-1 bg-success rounded-pill"></div>
    <div class="ms-4 py-2 d-flex">
      <div class="pe-3 text-lg text-success">
        <i class="bi bi-alarm"></i>
      </div>
      <div class="">
        <span class="d-block font-semibold text-heading">This is an error message</span>
        <p class="text-sm">
          This is a success alert with an example link with <a href="#" class="alert-link">an example link</a> — check it out!
        </p>
      </div>
    </div>
  </div>