<div class="section-container" style="width: 100%;">
    <div class="p-4">
       <div class="container-fluid">
          <div class="row">
             <div class="col-12">
                <div class="d-flex flex-column flex-md-row gap-3 justify-content-between">
                   <div class="input-group-sm input-group-inline">
                      <div class="input-group-text"><span class="pe-2"><i class="bi bi-search"></i></span><input type="text" class="search-input" placeholder="Search" aria-label="Search"></div>
                   </div>
                </div>
                <div class="sc-ieZDjg fTPaIV rdt_TableHeader" role="heading" aria-level="1">
                   <div class="sc-dKfzgJ hCDqlF">My Accounts</div>
                   <div class="sc-hIqOWS ejnPjs"><button type="button" class="btn btn-outline btn-main btn-sm"><span class="export-button-text">Export CSV</span></button></div>
                   <div class="sc-blLsxD iHQbWd">
                      <div class="sc-fmSAUk jdsjjE"></div>
                      <div class="sc-fGFwAa khjwFS"></div>
                   </div>
                </div>
                <div class="sc-fLQRDB lnueXx">
                   <div class="sc-ivnCJf efCZHj">
                      <div class="sc-hLseeU hUrCmn rdt_Table" role="table">
                         <div class="sc-eDDNvR ezQIyz rdt_TableHead" role="rowgroup">
                            <div class="sc-jTrPJq iiQzXX rdt_TableHeadRow" role="row">
                               <div class="sc-gLDzan sc-iAEyYk sc-brKeYL cmEDJn ixVWfl dtexNb rdt_TableCol">
                                  <div id="column-function(e){return r.a.createElement(w.a,{name:e.name,accountId:e.id})}" role="columnheader" tabindex="0" class="sc-ktEKTO cAWTqp rdt_TableCol_Sortable">
                                     <div>Account</div>
                                     <span class="asc __rdt_custom_sort_icon__">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="-5 -4.5 24 24" width="16" height="16" preserveAspectRatio="xMinYMin" class="jam jam-arrow-up">
                                           <path d="M6 4.071l-3.95 3.95A1 1 0 0 1 .636 6.607L6.293.95a.997.997 0 0 1 1.414 0l5.657 5.657A1 1 0 0 1 11.95 8.02L8 4.07v9.586a1 1 0 1 1-2 0V4.07z"></path>
                                        </svg>
                                     </span>
                                  </div>
                               </div>
                               <div class="sc-gLDzan sc-iAEyYk sc-brKeYL cmEDJn ixVWfl dtexNb rdt_TableCol">
                                  <div id="column-function(e){return e.deliveryDirectorName}" role="columnheader" tabindex="0" class="sc-ktEKTO cAWTqp rdt_TableCol_Sortable">
                                     <div>Delivery Director</div>
                                     <span class="asc __rdt_custom_sort_icon__">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="-5 -4.5 24 24" width="16" height="16" preserveAspectRatio="xMinYMin" class="jam jam-arrow-up">
                                           <path d="M6 4.071l-3.95 3.95A1 1 0 0 1 .636 6.607L6.293.95a.997.997 0 0 1 1.414 0l5.657 5.657A1 1 0 0 1 11.95 8.02L8 4.07v9.586a1 1 0 1 1-2 0V4.07z"></path>
                                        </svg>
                                     </span>
                                  </div>
                               </div>
                               <div class="sc-gLDzan sc-iAEyYk sc-brKeYL cmEDJn ixVWfl dtexNb rdt_TableCol">
                                  <div id="column-function(e){return e.salesExecutiveName}" role="columnheader" tabindex="0" class="sc-ktEKTO cAWTqp rdt_TableCol_Sortable">
                                     <div>Sales Executive</div>
                                     <span class="asc __rdt_custom_sort_icon__">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="-5 -4.5 24 24" width="16" height="16" preserveAspectRatio="xMinYMin" class="jam jam-arrow-up">
                                           <path d="M6 4.071l-3.95 3.95A1 1 0 0 1 .636 6.607L6.293.95a.997.997 0 0 1 1.414 0l5.657 5.657A1 1 0 0 1 11.95 8.02L8 4.07v9.586a1 1 0 1 1-2 0V4.07z"></path>
                                        </svg>
                                     </span>
                                  </div>
                               </div>
                               <div class="sc-gLDzan sc-iAEyYk sc-brKeYL cmEDJn ixVWfl dtexNb rdt_TableCol">
                                  <div id="column-function(e){var t=e.deliveryManagers.length>1;return r.a.createElement(&quot;div&quot;,{className:&quot;account-delivery-managers-wrapper&quot;},e.deliveryManagers.map((function(a){return r.a.createElement(N.a,{key:a.deliveryManagerId,deliveryManager:a,multipleDeliveryManagers:t,deliveryManagerName:e.deliveryManagerName})})))}" role="columnheader" tabindex="0" class="sc-ktEKTO iKfFQU rdt_TableCol_Sortable">
                                     <div>Delivery Manager(s)</div>
                                  </div>
                               </div>
                               <div class="sc-gLDzan sc-iAEyYk sc-brKeYL cmEDJn bSDneI dtexNb rdt_TableCol">
                                  <div id="column-function(e){return r.a.createElement(&quot;span&quot;,null,void 0!==e.score?r.a.createElement(&quot;div&quot;,null,r.a.createElement(g.a,{text:Object(d.b)(e.score,a)})):&quot;--&quot;)}" role="columnheader" tabindex="0" class="sc-ktEKTO iKfFQU rdt_TableCol_Sortable">
                                     <div>Status</div>
                                  </div>
                               </div>
                               <div class="sc-gLDzan sc-iAEyYk sc-brKeYL cmEDJn ixVWfl dtexNb rdt_TableCol">
                                  <div id="column-function(e){return e.headCount}" role="columnheader" tabindex="0" class="sc-ktEKTO cAWTqp rdt_TableCol_Sortable">
                                     <div>Headcount</div>
                                     <span class="asc __rdt_custom_sort_icon__">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="-5 -4.5 24 24" width="16" height="16" preserveAspectRatio="xMinYMin" class="jam jam-arrow-up">
                                           <path d="M6 4.071l-3.95 3.95A1 1 0 0 1 .636 6.607L6.293.95a.997.997 0 0 1 1.414 0l5.657 5.657A1 1 0 0 1 11.95 8.02L8 4.07v9.586a1 1 0 1 1-2 0V4.07z"></path>
                                        </svg>
                                     </span>
                                  </div>
                               </div>
                               <div class="sc-gLDzan sc-iAEyYk sc-brKeYL cmEDJn ixVWfl dtexNb rdt_TableCol">
                                  <div id="column-function(e){return r.a.createElement(S,{accountId:e.id,accountDeliveryManagers:e.deliveryManagers})}" role="columnheader" tabindex="0" class="sc-ktEKTO iKfFQU rdt_TableCol_Sortable">
                                     <div>Actions</div>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div offset="250px" class="sc-kgKVFY dbnbwq rdt_TableBody" role="rowgroup">
                            <div id="row-41e11df3-8915-4a3a-9883-4a1757100e12" role="row" class="sc-csCMJt fJusnK rdt_TableRow">
                               <div id="cell-XhFrUrH-g--41e11df3-8915-4a3a-9883-4a1757100e12" role="gridcell" data-tag="allowRowEvents" class="sc-gLDzan sc-iAEyYk sc-fsQiph izmcTb ixVWfl jeQYzj rdt_TableCell">
                                  <div data-tag="allowRowEvents">
                                     <div class="account-name">Account D.A.R. 2.0</div>
                                  </div>
                               </div>
                               <div id="cell-aUQ3gfZV9E-41e11df3-8915-4a3a-9883-4a1757100e12" role="gridcell" data-tag="allowRowEvents" class="sc-gLDzan sc-iAEyYk sc-fsQiph izmcTb ixVWfl jeQYzj rdt_TableCell">
                                  <div data-tag="allowRowEvents">César Londoño Martínez</div>
                               </div>
                               <div id="cell-vliNIE42ZC-41e11df3-8915-4a3a-9883-4a1757100e12" role="gridcell" data-tag="allowRowEvents" class="sc-gLDzan sc-iAEyYk sc-fsQiph izmcTb ixVWfl jeQYzj rdt_TableCell">
                                  <div data-tag="allowRowEvents">Anita Chevez Mora</div>
                               </div>
                               <div id="cell-3pB82CmfzO-41e11df3-8915-4a3a-9883-4a1757100e12" role="gridcell" data-tag="allowRowEvents" class="sc-gLDzan sc-iAEyYk sc-fsQiph izmcTb ixVWfl jeQYzj rdt_TableCell">
                                  <div data-tag="allowRowEvents">
                                     <div class="account-delivery-managers-wrapper">
                                        <div class="account-delivery-managers"><img class="w-9 h-9 p-0 rounded-circle me-2" src="https://wearegap.bamboohr.com/employees/photos/?h=f6e912a5238a6f37a2079169106d4399" alt="Gapster portrait"></div>
                                        <div class="account-delivery-managers"><img class="w-9 h-9 p-0 rounded-circle me-2" src="https://wearegap.bamboohr.com/employees/photos/?h=23e66ee9cd94054708a97430cf6bc131" alt="Gapster portrait"></div>
                                     </div>
                                  </div>
                               </div>
                               <div id="cell-YGD2JWIkSL-41e11df3-8915-4a3a-9883-4a1757100e12" role="gridcell" data-tag="allowRowEvents" class="sc-gLDzan sc-iAEyYk sc-fsQiph izmcTb bSDneI jeQYzj rdt_TableCell">
                                  <div data-tag="allowRowEvents">
                                     <span>
                                        <div>
                                           <div class="d-flex">
                                              <div class="account-status-box green"><span class="account-status-text green">green</span></div>
                                           </div>
                                        </div>
                                     </span>
                                  </div>
                               </div>
                               <div id="cell-tulXjQE-nl-41e11df3-8915-4a3a-9883-4a1757100e12" role="gridcell" data-tag="allowRowEvents" class="sc-gLDzan sc-iAEyYk sc-fsQiph izmcTb ixVWfl jeQYzj rdt_TableCell">
                                  <div data-tag="allowRowEvents">5</div>
                               </div>
                               <div id="cell-L6VR46RR-d-41e11df3-8915-4a3a-9883-4a1757100e12" role="gridcell" data-tag="allowRowEvents" class="sc-gLDzan sc-iAEyYk sc-fsQiph izmcTb ixVWfl kNKfor rdt_TableCell">
                                  <div data-tag="allowRowEvents">
                                     <div class="dropdown">
                                        <div class="text-muted" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="bi bi-three-dots-vertical actions-icon"></i></div>
                                        <div class="dropdown-menu dm-dropdown-menu"><span class="dropdown-item account-action disabled">Start Evaluation</span><span class="dropdown-item account-action disabled">View Account Details</span></div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                            <div id="row-a6d462a3-4a69-43f9-9702-344e67bf7da1" role="row" class="sc-csCMJt fJusnK rdt_TableRow">
                               <div id="cell-XhFrUrH-g--a6d462a3-4a69-43f9-9702-344e67bf7da1" role="gridcell" data-tag="allowRowEvents" class="sc-gLDzan sc-iAEyYk sc-fsQiph izmcTb ixVWfl jeQYzj rdt_TableCell">
                                  <div data-tag="allowRowEvents">
                                     <div class="account-name">Accruent</div>
                                  </div>
                               </div>
                               <div id="cell-aUQ3gfZV9E-a6d462a3-4a69-43f9-9702-344e67bf7da1" role="gridcell" data-tag="allowRowEvents" class="sc-gLDzan sc-iAEyYk sc-fsQiph izmcTb ixVWfl jeQYzj rdt_TableCell">
                                  <div data-tag="allowRowEvents">Danny Estrada Alvarez</div>
                               </div>
                               <div id="cell-vliNIE42ZC-a6d462a3-4a69-43f9-9702-344e67bf7da1" role="gridcell" data-tag="allowRowEvents" class="sc-gLDzan sc-iAEyYk sc-fsQiph izmcTb ixVWfl jeQYzj rdt_TableCell">
                                  <div data-tag="allowRowEvents">Melania Morales Serrano</div>
                               </div>
                               <div id="cell-3pB82CmfzO-a6d462a3-4a69-43f9-9702-344e67bf7da1" role="gridcell" data-tag="allowRowEvents" class="sc-gLDzan sc-iAEyYk sc-fsQiph izmcTb ixVWfl jeQYzj rdt_TableCell">
                                  <div data-tag="allowRowEvents">
                                     <div class="account-delivery-managers-wrapper">
                                        <div class="account-delivery-managers"><img class="w-9 h-9 p-0 rounded-circle me-2" src="https://wearegap.bamboohr.com/employees/photos/?h=8d32ae81dcf4aa6516d78d8fe6a1f4c9" alt="Gapster portrait"></div>
                                        <div class="account-delivery-managers"><img class="w-9 h-9 p-0 rounded-circle me-2" src="https://wearegap.bamboohr.com/employees/photos/?h=47dd1fd34bcf2cfd6f3b70b67550f37b" alt="Gapster portrait"></div>
                                     </div>
                                  </div>
                               </div>
                               <div id="cell-YGD2JWIkSL-a6d462a3-4a69-43f9-9702-344e67bf7da1" role="gridcell" data-tag="allowRowEvents" class="sc-gLDzan sc-iAEyYk sc-fsQiph izmcTb bSDneI jeQYzj rdt_TableCell">
                                  <div data-tag="allowRowEvents"><span>--</span></div>
                               </div>
                               <div id="cell-tulXjQE-nl-a6d462a3-4a69-43f9-9702-344e67bf7da1" role="gridcell" data-tag="allowRowEvents" class="sc-gLDzan sc-iAEyYk sc-fsQiph izmcTb ixVWfl jeQYzj rdt_TableCell">
                                  <div data-tag="allowRowEvents">1</div>
                               </div>
                               <div id="cell-L6VR46RR-d-a6d462a3-4a69-43f9-9702-344e67bf7da1" role="gridcell" data-tag="allowRowEvents" class="sc-gLDzan sc-iAEyYk sc-fsQiph izmcTb ixVWfl kNKfor rdt_TableCell">
                                  <div data-tag="allowRowEvents">
                                     <div class="dropdown">
                                        <div class="text-muted" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="bi bi-three-dots-vertical actions-icon"></i></div>
                                        <div class="dropdown-menu dm-dropdown-menu"><span class="dropdown-item account-action disabled">Start Evaluation</span><span class="dropdown-item account-action disabled">View Account Details</span></div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                            <div id="row-2a364764-cda1-41d4-a55c-0dd14e7f8751" role="row" class="sc-csCMJt fJusnK rdt_TableRow">
                               <div id="cell-XhFrUrH-g--2a364764-cda1-41d4-a55c-0dd14e7f8751" role="gridcell" data-tag="allowRowEvents" class="sc-gLDzan sc-iAEyYk sc-fsQiph izmcTb ixVWfl jeQYzj rdt_TableCell">
                                  <div data-tag="allowRowEvents">
                                     <div class="account-name">AristaMD</div>
                                  </div>
                               </div>
                               <div id="cell-aUQ3gfZV9E-2a364764-cda1-41d4-a55c-0dd14e7f8751" role="gridcell" data-tag="allowRowEvents" class="sc-gLDzan sc-iAEyYk sc-fsQiph izmcTb ixVWfl jeQYzj rdt_TableCell">
                                  <div data-tag="allowRowEvents">César Londoño Martínez</div>
                               </div>
                               <div id="cell-vliNIE42ZC-2a364764-cda1-41d4-a55c-0dd14e7f8751" role="gridcell" data-tag="allowRowEvents" class="sc-gLDzan sc-iAEyYk sc-fsQiph izmcTb ixVWfl jeQYzj rdt_TableCell">
                                  <div data-tag="allowRowEvents">Anita Chevez Mora</div>
                               </div>
                               <div id="cell-3pB82CmfzO-2a364764-cda1-41d4-a55c-0dd14e7f8751" role="gridcell" data-tag="allowRowEvents" class="sc-gLDzan sc-iAEyYk sc-fsQiph izmcTb ixVWfl jeQYzj rdt_TableCell">
                                  <div data-tag="allowRowEvents">
                                     <div class="account-delivery-managers-wrapper">
                                        <div class="account-delivery-managers"><img class="w-9 h-9 p-0 rounded-circle me-2" src="https://wearegap.bamboohr.com/employees/photos/?h=449f9e2adfaddfecdb261952c17d6d12" alt="Gapster portrait"><span>Joseph Tenorio Pereira</span></div>
                                     </div>
                                  </div>
                               </div>
                               <div id="cell-YGD2JWIkSL-2a364764-cda1-41d4-a55c-0dd14e7f8751" role="gridcell" data-tag="allowRowEvents" class="sc-gLDzan sc-iAEyYk sc-fsQiph izmcTb bSDneI jeQYzj rdt_TableCell">
                                  <div data-tag="allowRowEvents"><span>--</span></div>
                               </div>
                               <div id="cell-tulXjQE-nl-2a364764-cda1-41d4-a55c-0dd14e7f8751" role="gridcell" data-tag="allowRowEvents" class="sc-gLDzan sc-iAEyYk sc-fsQiph izmcTb ixVWfl jeQYzj rdt_TableCell">
                                  <div data-tag="allowRowEvents">1</div>
                               </div>
                               <div id="cell-L6VR46RR-d-2a364764-cda1-41d4-a55c-0dd14e7f8751" role="gridcell" data-tag="allowRowEvents" class="sc-gLDzan sc-iAEyYk sc-fsQiph izmcTb ixVWfl kNKfor rdt_TableCell">
                                  <div data-tag="allowRowEvents">
                                     <div class="dropdown">
                                        <div class="text-muted" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="bi bi-three-dots-vertical actions-icon"></i></div>
                                        <div class="dropdown-menu dm-dropdown-menu"><span class="dropdown-item account-action disabled">Start Evaluation</span><span class="dropdown-item account-action disabled">View Account Details</span></div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                            <div id="row-8d2eb020-927e-4f17-97c5-41c58f6ec4a8" role="row" class="sc-csCMJt fJusnK rdt_TableRow">
                               <div id="cell-XhFrUrH-g--8d2eb020-927e-4f17-97c5-41c58f6ec4a8" role="gridcell" data-tag="allowRowEvents" class="sc-gLDzan sc-iAEyYk sc-fsQiph izmcTb ixVWfl jeQYzj rdt_TableCell">
                                  <div data-tag="allowRowEvents">
                                     <div class="account-name">CN 2</div>
                                  </div>
                               </div>
                               <div id="cell-aUQ3gfZV9E-8d2eb020-927e-4f17-97c5-41c58f6ec4a8" role="gridcell" data-tag="allowRowEvents" class="sc-gLDzan sc-iAEyYk sc-fsQiph izmcTb ixVWfl jeQYzj rdt_TableCell">
                                  <div data-tag="allowRowEvents">Danny Estrada Alvarez</div>
                               </div>
                               <div id="cell-vliNIE42ZC-8d2eb020-927e-4f17-97c5-41c58f6ec4a8" role="gridcell" data-tag="allowRowEvents" class="sc-gLDzan sc-iAEyYk sc-fsQiph izmcTb ixVWfl jeQYzj rdt_TableCell">
                                  <div data-tag="allowRowEvents">Melania Morales Serrano</div>
                               </div>
                               <div id="cell-3pB82CmfzO-8d2eb020-927e-4f17-97c5-41c58f6ec4a8" role="gridcell" data-tag="allowRowEvents" class="sc-gLDzan sc-iAEyYk sc-fsQiph izmcTb ixVWfl jeQYzj rdt_TableCell">
                                  <div data-tag="allowRowEvents">
                                     <div class="account-delivery-managers-wrapper">
                                        <div class="account-delivery-managers"><img class="w-9 h-9 p-0 rounded-circle me-2" src="https://wearegap.bamboohr.com/employees/photos/?h=449f9e2adfaddfecdb261952c17d6d12" alt="Gapster portrait"><span>Joseph Tenorio Pereira</span></div>
                                     </div>
                                  </div>
                               </div>
                               <div id="cell-YGD2JWIkSL-8d2eb020-927e-4f17-97c5-41c58f6ec4a8" role="gridcell" data-tag="allowRowEvents" class="sc-gLDzan sc-iAEyYk sc-fsQiph izmcTb bSDneI jeQYzj rdt_TableCell">
                                  <div data-tag="allowRowEvents"><span>--</span></div>
                               </div>
                               <div id="cell-tulXjQE-nl-8d2eb020-927e-4f17-97c5-41c58f6ec4a8" role="gridcell" data-tag="allowRowEvents" class="sc-gLDzan sc-iAEyYk sc-fsQiph izmcTb ixVWfl jeQYzj rdt_TableCell">
                                  <div data-tag="allowRowEvents">26</div>
                               </div>
                               <div id="cell-L6VR46RR-d-8d2eb020-927e-4f17-97c5-41c58f6ec4a8" role="gridcell" data-tag="allowRowEvents" class="sc-gLDzan sc-iAEyYk sc-fsQiph izmcTb ixVWfl kNKfor rdt_TableCell">
                                  <div data-tag="allowRowEvents">
                                     <div class="dropdown">
                                        <div class="text-muted" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="bi bi-three-dots-vertical actions-icon"></i></div>
                                        <div class="dropdown-menu dm-dropdown-menu"><span class="dropdown-item account-action disabled">Start Evaluation</span><span class="dropdown-item account-action disabled">View Account Details</span></div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                            <div id="row-fa94c2cc-15ee-4302-bc46-b9312c398f8a" role="row" class="sc-csCMJt fJusnK rdt_TableRow">
                               <div id="cell-XhFrUrH-g--fa94c2cc-15ee-4302-bc46-b9312c398f8a" role="gridcell" data-tag="allowRowEvents" class="sc-gLDzan sc-iAEyYk sc-fsQiph izmcTb ixVWfl jeQYzj rdt_TableCell">
                                  <div data-tag="allowRowEvents">
                                     <div class="account-name">Code for coffee test</div>
                                  </div>
                               </div>
                               <div id="cell-aUQ3gfZV9E-fa94c2cc-15ee-4302-bc46-b9312c398f8a" role="gridcell" data-tag="allowRowEvents" class="sc-gLDzan sc-iAEyYk sc-fsQiph izmcTb ixVWfl jeQYzj rdt_TableCell">
                                  <div data-tag="allowRowEvents">Federico Coronel</div>
                               </div>
                               <div id="cell-vliNIE42ZC-fa94c2cc-15ee-4302-bc46-b9312c398f8a" role="gridcell" data-tag="allowRowEvents" class="sc-gLDzan sc-iAEyYk sc-fsQiph izmcTb ixVWfl jeQYzj rdt_TableCell">
                                  <div data-tag="allowRowEvents">Joyce Durst</div>
                               </div>
                               <div id="cell-3pB82CmfzO-fa94c2cc-15ee-4302-bc46-b9312c398f8a" role="gridcell" data-tag="allowRowEvents" class="sc-gLDzan sc-iAEyYk sc-fsQiph izmcTb ixVWfl jeQYzj rdt_TableCell">
                                  <div data-tag="allowRowEvents">
                                     <div class="account-delivery-managers-wrapper">
                                        <div class="account-delivery-managers"><img class="w-9 h-9 p-0 rounded-circle me-2" src="https://wearegap.bamboohr.com/employees/photos/?h=449f9e2adfaddfecdb261952c17d6d12" alt="Gapster portrait"><span>Joseph Tenorio Pereira</span></div>
                                     </div>
                                  </div>
                               </div>
                               <div id="cell-YGD2JWIkSL-fa94c2cc-15ee-4302-bc46-b9312c398f8a" role="gridcell" data-tag="allowRowEvents" class="sc-gLDzan sc-iAEyYk sc-fsQiph izmcTb bSDneI jeQYzj rdt_TableCell">
                                  <div data-tag="allowRowEvents"><span>--</span></div>
                               </div>
                               <div id="cell-tulXjQE-nl-fa94c2cc-15ee-4302-bc46-b9312c398f8a" role="gridcell" data-tag="allowRowEvents" class="sc-gLDzan sc-iAEyYk sc-fsQiph izmcTb ixVWfl jeQYzj rdt_TableCell">
                                  <div data-tag="allowRowEvents">1</div>
                               </div>
                               <div id="cell-L6VR46RR-d-fa94c2cc-15ee-4302-bc46-b9312c398f8a" role="gridcell" data-tag="allowRowEvents" class="sc-gLDzan sc-iAEyYk sc-fsQiph izmcTb ixVWfl kNKfor rdt_TableCell">
                                  <div data-tag="allowRowEvents">
                                     <div class="dropdown">
                                        <div class="text-muted" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="bi bi-three-dots-vertical actions-icon"></i></div>
                                        <div class="dropdown-menu dm-dropdown-menu"><span class="dropdown-item account-action disabled">Start Evaluation</span><span class="dropdown-item account-action disabled">View Account Details</span></div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                            <div id="row-6d678ea4-c941-4a27-a39a-9684825640ce" role="row" class="sc-csCMJt fJusnK rdt_TableRow">
                               <div id="cell-XhFrUrH-g--6d678ea4-c941-4a27-a39a-9684825640ce" role="gridcell" data-tag="allowRowEvents" class="sc-gLDzan sc-iAEyYk sc-fsQiph izmcTb ixVWfl jeQYzj rdt_TableCell">
                                  <div data-tag="allowRowEvents">
                                     <div class="account-name">Cracking the code 3</div>
                                  </div>
                               </div>
                               <div id="cell-aUQ3gfZV9E-6d678ea4-c941-4a27-a39a-9684825640ce" role="gridcell" data-tag="allowRowEvents" class="sc-gLDzan sc-iAEyYk sc-fsQiph izmcTb ixVWfl jeQYzj rdt_TableCell">
                                  <div data-tag="allowRowEvents">Federico Coronel</div>
                               </div>
                               <div id="cell-vliNIE42ZC-6d678ea4-c941-4a27-a39a-9684825640ce" role="gridcell" data-tag="allowRowEvents" class="sc-gLDzan sc-iAEyYk sc-fsQiph izmcTb ixVWfl jeQYzj rdt_TableCell">
                                  <div data-tag="allowRowEvents">Joyce Durst</div>
                               </div>
                               <div id="cell-3pB82CmfzO-6d678ea4-c941-4a27-a39a-9684825640ce" role="gridcell" data-tag="allowRowEvents" class="sc-gLDzan sc-iAEyYk sc-fsQiph izmcTb ixVWfl jeQYzj rdt_TableCell">
                                  <div data-tag="allowRowEvents">
                                     <div class="account-delivery-managers-wrapper">
                                        <div class="account-delivery-managers"><img class="w-9 h-9 p-0 rounded-circle me-2" src="https://wearegap.bamboohr.com/employees/photos/?h=449f9e2adfaddfecdb261952c17d6d12" alt="Gapster portrait"><span>Joseph Tenorio Pereira</span></div>
                                     </div>
                                  </div>
                               </div>
                               <div id="cell-YGD2JWIkSL-6d678ea4-c941-4a27-a39a-9684825640ce" role="gridcell" data-tag="allowRowEvents" class="sc-gLDzan sc-iAEyYk sc-fsQiph izmcTb bSDneI jeQYzj rdt_TableCell">
                                  <div data-tag="allowRowEvents"><span>--</span></div>
                               </div>
                               <div id="cell-tulXjQE-nl-6d678ea4-c941-4a27-a39a-9684825640ce" role="gridcell" data-tag="allowRowEvents" class="sc-gLDzan sc-iAEyYk sc-fsQiph izmcTb ixVWfl jeQYzj rdt_TableCell">
                                  <div data-tag="allowRowEvents">0</div>
                               </div>
                               <div id="cell-L6VR46RR-d-6d678ea4-c941-4a27-a39a-9684825640ce" role="gridcell" data-tag="allowRowEvents" class="sc-gLDzan sc-iAEyYk sc-fsQiph izmcTb ixVWfl kNKfor rdt_TableCell">
                                  <div data-tag="allowRowEvents">
                                     <div class="dropdown">
                                        <div class="text-muted" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="bi bi-three-dots-vertical actions-icon"></i></div>
                                        <div class="dropdown-menu dm-dropdown-menu"><span class="dropdown-item account-action disabled">Start Evaluation</span><span class="dropdown-item account-action disabled">View Account Details</span></div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                            <div id="row-7270a7af-9ed5-4d86-a82f-9a57f031a277" role="row" class="sc-csCMJt fJusnK rdt_TableRow">
                               <div id="cell-XhFrUrH-g--7270a7af-9ed5-4d86-a82f-9a57f031a277" role="gridcell" data-tag="allowRowEvents" class="sc-gLDzan sc-iAEyYk sc-fsQiph izmcTb ixVWfl jeQYzj rdt_TableCell">
                                  <div data-tag="allowRowEvents">
                                     <div class="account-name">Cracking the code 4</div>
                                  </div>
                               </div>
                               <div id="cell-aUQ3gfZV9E-7270a7af-9ed5-4d86-a82f-9a57f031a277" role="gridcell" data-tag="allowRowEvents" class="sc-gLDzan sc-iAEyYk sc-fsQiph izmcTb ixVWfl jeQYzj rdt_TableCell">
                                  <div data-tag="allowRowEvents">Federico Coronel</div>
                               </div>
                               <div id="cell-vliNIE42ZC-7270a7af-9ed5-4d86-a82f-9a57f031a277" role="gridcell" data-tag="allowRowEvents" class="sc-gLDzan sc-iAEyYk sc-fsQiph izmcTb ixVWfl jeQYzj rdt_TableCell">
                                  <div data-tag="allowRowEvents">Joyce Durst</div>
                               </div>
                               <div id="cell-3pB82CmfzO-7270a7af-9ed5-4d86-a82f-9a57f031a277" role="gridcell" data-tag="allowRowEvents" class="sc-gLDzan sc-iAEyYk sc-fsQiph izmcTb ixVWfl jeQYzj rdt_TableCell">
                                  <div data-tag="allowRowEvents">
                                     <div class="account-delivery-managers-wrapper">
                                        <div class="account-delivery-managers"><img class="w-9 h-9 p-0 rounded-circle me-2" src="https://wearegap.bamboohr.com/employees/photos/?h=5b595f415650f387113600e0932f426a" alt="Gapster portrait"></div>
                                        <div class="account-delivery-managers"><img class="w-9 h-9 p-0 rounded-circle me-2" src="https://wearegap.bamboohr.com/employees/photos/?h=8d32ae81dcf4aa6516d78d8fe6a1f4c9" alt="Gapster portrait"></div>
                                        <div class="account-delivery-managers"><img class="w-9 h-9 p-0 rounded-circle me-2" src="https://wearegap.bamboohr.com/employees/photos/?h=837a952e402285ac9adef0dbc5e8d8b9" alt="Gapster portrait"></div>
                                     </div>
                                  </div>
                               </div>
                               <div id="cell-YGD2JWIkSL-7270a7af-9ed5-4d86-a82f-9a57f031a277" role="gridcell" data-tag="allowRowEvents" class="sc-gLDzan sc-iAEyYk sc-fsQiph izmcTb bSDneI jeQYzj rdt_TableCell">
                                  <div data-tag="allowRowEvents"><span>--</span></div>
                               </div>
                               <div id="cell-tulXjQE-nl-7270a7af-9ed5-4d86-a82f-9a57f031a277" role="gridcell" data-tag="allowRowEvents" class="sc-gLDzan sc-iAEyYk sc-fsQiph izmcTb ixVWfl jeQYzj rdt_TableCell">
                                  <div data-tag="allowRowEvents">0</div>
                               </div>
                               <div id="cell-L6VR46RR-d-7270a7af-9ed5-4d86-a82f-9a57f031a277" role="gridcell" data-tag="allowRowEvents" class="sc-gLDzan sc-iAEyYk sc-fsQiph izmcTb ixVWfl kNKfor rdt_TableCell">
                                  <div data-tag="allowRowEvents">
                                     <div class="dropdown">
                                        <div class="text-muted" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="bi bi-three-dots-vertical actions-icon"></i></div>
                                        <div class="dropdown-menu dm-dropdown-menu"><span class="dropdown-item account-action disabled">Start Evaluation</span><span class="dropdown-item account-action disabled">View Account Details</span></div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                            <div id="row-a5b52f7b-cb21-45b9-ac00-9cccb3d71d65" role="row" class="sc-csCMJt fJusnK rdt_TableRow">
                               <div id="cell-XhFrUrH-g--a5b52f7b-cb21-45b9-ac00-9cccb3d71d65" role="gridcell" data-tag="allowRowEvents" class="sc-gLDzan sc-iAEyYk sc-fsQiph izmcTb ixVWfl jeQYzj rdt_TableCell">
                                  <div data-tag="allowRowEvents">
                                     <div class="account-name">Cracking the code 5</div>
                                  </div>
                               </div>
                               <div id="cell-aUQ3gfZV9E-a5b52f7b-cb21-45b9-ac00-9cccb3d71d65" role="gridcell" data-tag="allowRowEvents" class="sc-gLDzan sc-iAEyYk sc-fsQiph izmcTb ixVWfl jeQYzj rdt_TableCell">
                                  <div data-tag="allowRowEvents">Federico Coronel</div>
                               </div>
                               <div id="cell-vliNIE42ZC-a5b52f7b-cb21-45b9-ac00-9cccb3d71d65" role="gridcell" data-tag="allowRowEvents" class="sc-gLDzan sc-iAEyYk sc-fsQiph izmcTb ixVWfl jeQYzj rdt_TableCell">
                                  <div data-tag="allowRowEvents">Joyce Durst</div>
                               </div>
                               <div id="cell-3pB82CmfzO-a5b52f7b-cb21-45b9-ac00-9cccb3d71d65" role="gridcell" data-tag="allowRowEvents" class="sc-gLDzan sc-iAEyYk sc-fsQiph izmcTb ixVWfl jeQYzj rdt_TableCell">
                                  <div data-tag="allowRowEvents">
                                     <div class="account-delivery-managers-wrapper">
                                        <div class="account-delivery-managers"><img class="w-9 h-9 p-0 rounded-circle me-2" src="https://wearegap.bamboohr.com/employees/photos/?h=8d32ae81dcf4aa6516d78d8fe6a1f4c9" alt="Gapster portrait"><span>Juan Vargas Cordero</span></div>
                                     </div>
                                  </div>
                               </div>
                               <div id="cell-YGD2JWIkSL-a5b52f7b-cb21-45b9-ac00-9cccb3d71d65" role="gridcell" data-tag="allowRowEvents" class="sc-gLDzan sc-iAEyYk sc-fsQiph izmcTb bSDneI jeQYzj rdt_TableCell">
                                  <div data-tag="allowRowEvents"><span>--</span></div>
                               </div>
                               <div id="cell-tulXjQE-nl-a5b52f7b-cb21-45b9-ac00-9cccb3d71d65" role="gridcell" data-tag="allowRowEvents" class="sc-gLDzan sc-iAEyYk sc-fsQiph izmcTb ixVWfl jeQYzj rdt_TableCell">
                                  <div data-tag="allowRowEvents">0</div>
                               </div>
                               <div id="cell-L6VR46RR-d-a5b52f7b-cb21-45b9-ac00-9cccb3d71d65" role="gridcell" data-tag="allowRowEvents" class="sc-gLDzan sc-iAEyYk sc-fsQiph izmcTb ixVWfl kNKfor rdt_TableCell">
                                  <div data-tag="allowRowEvents">
                                     <div class="dropdown">
                                        <div class="text-muted" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="bi bi-three-dots-vertical actions-icon"></i></div>
                                        <div class="dropdown-menu dm-dropdown-menu"><span class="dropdown-item account-action disabled">Start Evaluation</span><span class="dropdown-item account-action disabled">View Account Details</span></div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                            <div id="row-88206620-5305-4d78-ae16-608607a4ad6a" role="row" class="sc-csCMJt fJusnK rdt_TableRow">
                               <div id="cell-XhFrUrH-g--88206620-5305-4d78-ae16-608607a4ad6a" role="gridcell" data-tag="allowRowEvents" class="sc-gLDzan sc-iAEyYk sc-fsQiph izmcTb ixVWfl jeQYzj rdt_TableCell">
                                  <div data-tag="allowRowEvents">
                                     <div class="account-name">Cracking The Code V2</div>
                                  </div>
                               </div>
                               <div id="cell-aUQ3gfZV9E-88206620-5305-4d78-ae16-608607a4ad6a" role="gridcell" data-tag="allowRowEvents" class="sc-gLDzan sc-iAEyYk sc-fsQiph izmcTb ixVWfl jeQYzj rdt_TableCell">
                                  <div data-tag="allowRowEvents">Federico Coronel</div>
                               </div>
                               <div id="cell-vliNIE42ZC-88206620-5305-4d78-ae16-608607a4ad6a" role="gridcell" data-tag="allowRowEvents" class="sc-gLDzan sc-iAEyYk sc-fsQiph izmcTb ixVWfl jeQYzj rdt_TableCell">
                                  <div data-tag="allowRowEvents">Joyce Durst</div>
                               </div>
                               <div id="cell-3pB82CmfzO-88206620-5305-4d78-ae16-608607a4ad6a" role="gridcell" data-tag="allowRowEvents" class="sc-gLDzan sc-iAEyYk sc-fsQiph izmcTb ixVWfl jeQYzj rdt_TableCell">
                                  <div data-tag="allowRowEvents">
                                     <div class="account-delivery-managers-wrapper">
                                        <div class="account-delivery-managers"><img class="w-9 h-9 p-0 rounded-circle me-2" src="https://wearegap.bamboohr.com/employees/photos/?h=449f9e2adfaddfecdb261952c17d6d12" alt="Gapster portrait"><span>Joseph Tenorio Pereira</span></div>
                                     </div>
                                  </div>
                               </div>
                               <div id="cell-YGD2JWIkSL-88206620-5305-4d78-ae16-608607a4ad6a" role="gridcell" data-tag="allowRowEvents" class="sc-gLDzan sc-iAEyYk sc-fsQiph izmcTb bSDneI jeQYzj rdt_TableCell">
                                  <div data-tag="allowRowEvents"><span>--</span></div>
                               </div>
                               <div id="cell-tulXjQE-nl-88206620-5305-4d78-ae16-608607a4ad6a" role="gridcell" data-tag="allowRowEvents" class="sc-gLDzan sc-iAEyYk sc-fsQiph izmcTb ixVWfl jeQYzj rdt_TableCell">
                                  <div data-tag="allowRowEvents">0</div>
                               </div>
                               <div id="cell-L6VR46RR-d-88206620-5305-4d78-ae16-608607a4ad6a" role="gridcell" data-tag="allowRowEvents" class="sc-gLDzan sc-iAEyYk sc-fsQiph izmcTb ixVWfl kNKfor rdt_TableCell">
                                  <div data-tag="allowRowEvents">
                                     <div class="dropdown">
                                        <div class="text-muted" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="bi bi-three-dots-vertical actions-icon"></i></div>
                                        <div class="dropdown-menu dm-dropdown-menu"><span class="dropdown-item account-action disabled">Start Evaluation</span><span class="dropdown-item account-action disabled">View Account Details</span></div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                            <div id="row-22c16aee-4f2b-44b5-b912-c91d4be068d2" role="row" class="sc-csCMJt fJusnK rdt_TableRow">
                               <div id="cell-XhFrUrH-g--22c16aee-4f2b-44b5-b912-c91d4be068d2" role="gridcell" data-tag="allowRowEvents" class="sc-gLDzan sc-iAEyYk sc-fsQiph izmcTb ixVWfl jeQYzj rdt_TableCell">
                                  <div data-tag="allowRowEvents">
                                     <div class="account-name">DM Test</div>
                                  </div>
                               </div>
                               <div id="cell-aUQ3gfZV9E-22c16aee-4f2b-44b5-b912-c91d4be068d2" role="gridcell" data-tag="allowRowEvents" class="sc-gLDzan sc-iAEyYk sc-fsQiph izmcTb ixVWfl jeQYzj rdt_TableCell">
                                  <div data-tag="allowRowEvents">César Londoño Martínez</div>
                               </div>
                               <div id="cell-vliNIE42ZC-22c16aee-4f2b-44b5-b912-c91d4be068d2" role="gridcell" data-tag="allowRowEvents" class="sc-gLDzan sc-iAEyYk sc-fsQiph izmcTb ixVWfl jeQYzj rdt_TableCell">
                                  <div data-tag="allowRowEvents">Anita Chevez Mora</div>
                               </div>
                               <div id="cell-3pB82CmfzO-22c16aee-4f2b-44b5-b912-c91d4be068d2" role="gridcell" data-tag="allowRowEvents" class="sc-gLDzan sc-iAEyYk sc-fsQiph izmcTb ixVWfl jeQYzj rdt_TableCell">
                                  <div data-tag="allowRowEvents">
                                     <div class="account-delivery-managers-wrapper">
                                        <div class="account-delivery-managers"><img class="w-9 h-9 p-0 rounded-circle me-2" src="https://wearegap.bamboohr.com/employees/photos/?h=5b595f415650f387113600e0932f426a" alt="Gapster portrait"><span>Brayan Rojas Mesa</span></div>
                                     </div>
                                  </div>
                               </div>
                               <div id="cell-YGD2JWIkSL-22c16aee-4f2b-44b5-b912-c91d4be068d2" role="gridcell" data-tag="allowRowEvents" class="sc-gLDzan sc-iAEyYk sc-fsQiph izmcTb bSDneI jeQYzj rdt_TableCell">
                                  <div data-tag="allowRowEvents"><span>--</span></div>
                               </div>
                               <div id="cell-tulXjQE-nl-22c16aee-4f2b-44b5-b912-c91d4be068d2" role="gridcell" data-tag="allowRowEvents" class="sc-gLDzan sc-iAEyYk sc-fsQiph izmcTb ixVWfl jeQYzj rdt_TableCell">
                                  <div data-tag="allowRowEvents">0</div>
                               </div>
                               <div id="cell-L6VR46RR-d-22c16aee-4f2b-44b5-b912-c91d4be068d2" role="gridcell" data-tag="allowRowEvents" class="sc-gLDzan sc-iAEyYk sc-fsQiph izmcTb ixVWfl kNKfor rdt_TableCell">
                                  <div data-tag="allowRowEvents">
                                     <div class="dropdown">
                                        <div class="text-muted" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="bi bi-three-dots-vertical actions-icon"></i></div>
                                        <div class="dropdown-menu dm-dropdown-menu"><span class="dropdown-item account-action disabled">Start Evaluation</span><span class="dropdown-item account-action disabled">View Account Details</span></div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div>
                   <nav class="sc-eACynP fiaqLK rdt_Pagination">
                      <span class="sc-ilEZps sc-hhGHuG cpmgSu iaxFdD">Rows per page:</span>
                      <div class="sc-gjTGSA hVodLa">
                         <select aria-label="Rows per page:" class="sc-iKGpAt gWfGqn">
                            <option value="10" selected="">10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                            <option value="25">25</option>
                            <option value="30">30</option>
                         </select>
                         <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path d="M7 10l5 5 5-5z"></path>
                            <path d="M0 0h24v24H0z" fill="none"></path>
                         </svg>
                      </div>
                      <span class="sc-ilEZps sc-jItqcz cpmgSu ikJLdT">1-10 out of 26</span>
                      <div class="sc-kMrHXl dvICCE">
                         <button id="pagination-first-page" type="button" aria-label="First Page" aria-disabled="true" disabled="" class="sc-bZPPFW hHohAH">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" aria-hidden="true" role="presentation">
                               <path d="M18.41 16.59L13.82 12l4.59-4.59L17 6l-6 6 6 6zM6 6h2v12H6z"></path>
                               <path fill="none" d="M24 24H0V0h24v24z"></path>
                            </svg>
                         </button>
                         <button id="pagination-previous-page" type="button" aria-label="Previous Page" aria-disabled="true" disabled="" class="sc-bZPPFW hHohAH">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" aria-hidden="true" role="presentation">
                               <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"></path>
                               <path d="M0 0h24v24H0z" fill="none"></path>
                            </svg>
                         </button>
                         <button id="pagination-next-page" type="button" aria-label="Next Page" aria-disabled="false" class="sc-bZPPFW hHohAH">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" aria-hidden="true" role="presentation">
                               <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path>
                               <path d="M0 0h24v24H0z" fill="none"></path>
                            </svg>
                         </button>
                         <button id="pagination-last-page" type="button" aria-label="Last Page" aria-disabled="false" class="sc-bZPPFW hHohAH">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" aria-hidden="true" role="presentation">
                               <path d="M5.59 7.41L10.18 12l-4.59 4.59L7 18l6-6-6-6zM16 6h2v12h-2z"></path>
                               <path fill="none" d="M0 0h24v24H0V0z"></path>
                            </svg>
                         </button>
                      </div>
                   </nav>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>