<nav class="navbar navbar-light bg-light border-bottom h-sm-18 px-0 py-md-0" id="topbar">
    <div class="container-fluid">
      <!-- Breadcrumbs -->
      <nav aria-label="breadcrumb" class="d-none d-sm-block">
        <ol class="breadcrumb">
          <a class="navbar-brand" href="#">
            <img src="https://people.gap-sandbox.com/static/media/GAPlogo.4e181e9e.svg" class="h-8" alt="...">
          </a>
          <li class="breadcrumb-item dropdown" aria-current="page">
            <a href="#" class="text-heading font-semibold">
              Design System
              <i class="bi bi-chevron-down ms-1 text-xs"></i>
            </a>
          </li>
        </ol>
      </nav>
      <!-- Search -->
      <form class="form-inline me-md-4 ms-sm-auto">
        <div class="input-group input-group-sm input-group-inline shadow-none">
          <span class="input-group-text border-0 shadow-none ps-0 pe-3">
            <i class="bi bi-search"></i>
          </span>
          <input type="email" class="form-control form-control-flush" placeholder="Find what you need" aria-label="Search" aria-describedby="">
        </div>
      </form>
      <!-- Right menu -->
      <div class="navbar-user">
        <div class="d-flex align-items-center position-relative">
          <div>
            <div class="avatar avatar-sm rounded-circle">
              <img src="https://images.unsplash.com/photo-1522307837370-cc113a36b784?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80" alt="...">
            </div>
          </div>
          <div class="d-none d-sm-block ms-3">
            <a href="#" class="h6 stretched-link">Magda</a>
          </div>
          <div class="d-none d-md-block ms-md-5">
            <i class="bi bi-chevron-down text-muted text-xs"></i>
          </div>
        </div>
      </div>
    </div>
  </nav>