<nav class="navbar navbar-light bg-light border-bottom h-sm-18 px-0 py-md-0" id="topbar">
    <div class="container-fluid">
      <!-- Right menu -->
      <div class="navbar-user d-flex flex-fill flex-md-none order-md-2">
        <div class="avatar-group">
          <a href="#" class="avatar avatar-sm border-2 border-light rounded-circle">
            <img alt="..." src="https://images.unsplash.com/photo-1544723795-3fb6469f5b39?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80">
          </a>
          <a href="#" class="avatar avatar-sm border-2 border-light rounded-circle">
            <img alt="..." src="https://images.unsplash.com/photo-1584080995764-4fb1b81370bc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80">
          </a>
          <a href="#" class="avatar avatar-sm border-2 border-light rounded-circle">
            <img alt="..." src="https://images.unsplash.com/photo-1585445876315-b0746123089d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80">
          </a>
        </div>
        <div class="ms-auto ms-md-5">
          <a href="#" class="btn btn-sm btn-primary">Add new</a>
        </div>
      </div>
      <!-- Breadcrumbs -->
      <nav class="nav d-flex mx-n4 text-sm lh-none overflow-x order-md-1 mt-5 mt-sm-0">
        <a href="#" class="nav-link d-flex font-semibold">
          Category
          <i class="bi bi-chevron-down ms-3 text-xs text-muted"></i>
        </a>
        <a href="#" class="nav-link d-flex font-semibold">
          Design
          <i class="bi bi-chevron-down ms-3 text-xs text-muted"></i>
        </a>
        <a href="#" class="nav-link d-flex font-semibold">
          Purpose
          <i class="bi bi-chevron-down ms-3 text-xs text-muted"></i>
        </a>
        <a href="#" class="nav-link d-flex font-semibold">
          Purpose
          <i class="bi bi-chevron-down ms-3 text-xs text-muted"></i>
        </a>
      </nav>
    </div>
  </nav>