<nav class="navbar navbar-expand-lg navbar-light bg-light px-0 py-3">
    <div class="container-xl">
      <!-- Toggler -->
      <button class="navbar-toggler ms-n2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleXxl" aria-controls="navbarsExampleXxl" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Brand -->
      <a class="navbar-brand" href="#">
        <img src="https://people.gap-sandbox.com/static/media/GAPlogo.4e181e9e.svg" class="h-8" alt="...">
      </a>
      <!-- Avatar -->
      <div class="order-lg-last ms-lg-4 position-relative">
        <a class="d-flex align-items-center dropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <div>
            <div class="avatar avatar-sm bg-warning rounded-circle text-white">
              <img alt="..." src="https://images.unsplash.com/photo-1579463148228-138296ac3b98?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80">
            </div>
          </div>
          <div class="d-none d-sm-block ms-3">
            <span class="h6">Magda</span>
          </div>
          <div class="d-none d-md-block ms-md-5">
            <i class="bi bi-chevron-down text-muted text-xs"></i>
          </div>
        </a>
        <div class="dropdown-menu dropdown-menu-end">
          <div class="dropdown-header">
            <h6 class="text-overflow m-0">Welcome!</h6>
          </div>
          <a href="#!" class="dropdown-item">
            <i class="ni ni-single-02"></i>
            <span>My profile</span>
          </a>
          <a href="#!" class="dropdown-item">
            <i class="ni ni-settings-gear-65"></i>
            <span>Settings</span>
          </a>
          <a href="#!" class="dropdown-item">
            <i class="ni ni-calendar-grid-58"></i>
            <span>Activity</span>
          </a>
          <a href="#!" class="dropdown-item">
            <i class="ni ni-support-16"></i>
            <span>Support</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#!" class="dropdown-item">
            <i class="ni ni-user-run"></i>
            <span>Logout</span>
          </a>
        </div>
      </div>
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="navbarsExampleXxl">
        <!-- Search -->
        <form class="form-light ms-lg-auto me-lg-4 mt-4 mb-3 my-lg-0 order-lg-2">
          <div class="input-group input-group-inline shadow-none">
            <span class="input-group-text bg-transparent  border-0 shadow-none ps-0 pe-3">
              <i class="bi bi-search"></i>
            </span>
            <input type="email" class="form-control form-control-flush bg-transparent border-0" placeholder="Search" aria-label="Search" aria-describedby="">
          </div>
        </form>
        <!-- Nav items -->
        <div class="navbar-nav mb-4 mb-lg-0 order-lg-1">
          <a class="nav-item nav-link active" href="#" aria-current="page">Home</a>
          <a class="nav-item nav-link" href="#">Product</a>
          <a class="nav-item nav-link" href="#">Features</a>
          <a class="nav-item nav-link" href="#">Pricing</a>
        </div>
      </div>
    </div>
  </nav>