<nav class="navbar navbar-light bg-light border-bottom h-sm-18 px-0 py-md-0" id="topbar">
    <div class="container-fluid px-0">
      <!-- Search -->
      <div class="form-light flex-none">
        <div class="">
          <div class="input-group input-group-inline">
            <span class="input-group-text" id="">
              <i class="bi bi-search me-2"></i>
            </span>
            <input type="email" class="form-control ps-0" placeholder="Search" aria-label="Search" aria-describedby="">
          </div>
          <span class="mt-2 valid-feedback">Looks good!</span>
        </div>
      </div>
      <!-- User menu -->
      <div class="d-flex align-items-center">
        <div class="ms-auto me-3 d-none d-sm-block">
          <ul class="nav align-items-lg-center d-flex">
            <li class="nav-item">
              <a href="# " class="nav-link text-base px-3">
                <i class="bi bi-envelope"></i>
              </a>
            </li>
            <li class="nav-item">
              <a href="# " class="nav-link text-base px-3">
                <i class="bi bi-bell"></i>
              </a>
            </li>
          </ul>
        </div>
        <div>
          <a href="#" class="avatar avatar-sm bg-warning rounded-circle text-white">
            <img alt="..." src="https://images.unsplash.com/photo-1579463148228-138296ac3b98?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80">
          </a>
        </div>
      </div>
    </div>
  </nav>