<nav class="navbar navbar-light bg-light border-bottom h-sm-18 px-0 py-2 py-md-0" id="topbar">
    <div class="container-fluid">
      <div class="hstack gap-2">
        <a class="navbar-brand" href="#">
          <img src="https://people.gap-sandbox.com/static/media/GAPlogo.4e181e9e.svg" class="h-8" alt="...">
        </a>
        <div class="me-4 d-none d-md-block">
          <h5 class="text-muted font-semibold">Channels</h5>
        </div>
        <button type="button" class="btn btn-sm btn-square btn-soft-primary">C</button>
        <button type="button" class="btn btn-sm btn-square btn-soft-warning">D</button>
        <button type="button" class="btn btn-sm btn-square btn-soft-success">A</button>
        <button type="button" class="btn btn-sm btn-square btn-neutral bg-primary-hover text-primary text-white-hover border border-primary border-dashed">+</button>
      </div>
      <!-- Form -->
      <form class="form-inline ms-auto me-4 d-none d-md-flex">
        <div class="input-group input-group-inline shadow-none">
          <span class="input-group-text border-0 shadow-none ps-0 pe-3">
            <i class="bi bi-search"></i>
          </span>
          <input type="email" class="form-control form-control-flush" placeholder="Search" aria-label="Search" aria-describedby="">
        </div>
      </form>
      <!-- Right menu -->
      <div class="navbar-user">
        <div class="hstack ms-4 me-n3">
          <a href="#" class="nav-link px-3 text-lg">
            <i class="bi bi-bell"></i>
          </a>
          <a href="#" class="nav-link px-3 text-lg">
            <i class="bi bi-gear"></i>
          </a>
          <a href="#" class="nav-link px-3 text-lg">
            <i class="bi bi-three-dots-vertical"></i>
          </a>
        </div>
      </div>
    </div>
  </nav>