<div class="avatar-group avatar-ungroup-hover">
    <a href="#" class="avatar avatar- bg-primary text-white rounded-circle">
      <img alt="" src="https://images.unsplash.com/photo-1513910367299-bce8d8a0ebf6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80">
    </a>
    <a href="#" class="avatar avatar- bg-warning text-white rounded-circle">
      <img alt="" src="https://images.unsplash.com/photo-1511546395756-590dffdcdbd1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80">
    </a>
    <a href="#" class="avatar avatar- bg-dark text-white rounded-circle">
      <img alt="" src="https://images.unsplash.com/photo-1529626455594-4ff0802cfb7e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80">
    </a>
  </div>