<div class="d-flex align-items-center">
    <a href="#" class="avatar avatar- bg-primary text-white rounded-circle">
      <img alt="Image Placeholder" src="https://images.unsplash.com/photo-1548142813-c348350df52b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80">
    </a>
    <div class="ps-3">
      <span class="h6 d-block mb-0">Julianne Moore</span>
      <div class="mt-n1">
        <a href="#" class="text-xs border-bottom border-dashed">View Profile</a>
      </div>
    </div>
  </div>