<div class="modal" id="modal_example" tabindex="-1" aria-labelledby="modal_example" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content shadow-3">
        <div class="modal-header flex-wrap pb-0">
          <h5 class="modal-title">Activity</h5>
          <div class="ms-auto">
            <div class="d-flex mx-n2">
              <button type="button" class="btn btn-sm btn-square text-danger-hover rounded-circle">
                <i class="bi bi-trash"></i>
              </button>
              <button type="button" class="btn btn-sm btn-square text-primary-hover rounded-circle">
                <i class="bi bi-sliders"></i>
              </button>
            </div>
          </div>
          <span class="d-block w-full"></span>
          <ul class="nav nav-sm nav-tabs border-0">
            <li class="nav-item">
              <a href="#" class="nav-link py-4 active">Latest</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link py-4 font-regular">Projects</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link py-4 font-regular">Files</a>
            </li>
          </ul>
        </div>
        <div class="modal-body py-0">
          <div class="list-group list-group-flush">
            <div class="list-group-item d-flex align-items-center px-0">
              <div>
                <a href="#" class="avatar rounded-circle">
                  <img alt="..." src="https://images.unsplash.com/photo-1502823403499-6ccfcf4fb453?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80">
                </a>
              </div>
              <div class="flex-fill ms-3">
                <div class="text-sm text-wrap">
                  <a href="#" class="font-semibold text-heading">Robert</a> started following you
                </div>
                <span class="badge badge-md badge-dot text-xs text-muted">
                  <i class="bg-success"></i>Online
                </span>
              </div>
            </div>
            <div class="list-group-item d-flex align-items-center px-0">
              <div>
                <a href="#" class="avatar rounded-circle">
                  <img alt="..." src="https://images.unsplash.com/photo-1610271340738-726e199f0258?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80">
                </a>
              </div>
              <div class="flex-fill ms-3">
                <div class="text-sm text-wrap">
                  Share updates about <a href="#" class="font-semibold text-heading">Webpixels</a> by creating a new post.
                </div>
                <span class="badge badge-md badge-dot text-xs text-muted">
                  <i class="bg-secondary"></i>Offline
                </span>
              </div>
            </div>
            <div class="list-group-item d-flex align-items-center px-0">
              <div>
                <a href="#" class="avatar rounded-circle">
                  <img alt="..." src="https://images.unsplash.com/photo-1610878722345-79c5eaf6a48c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80">
                </a>
              </div>
              <div class="flex-fill ms-3">
                <div class="text-sm text-wrap">
                  <a href="#" class="font-semibold text-heading">Mya</a> was assigned to project <a href="#" class="font-semibold text-heading">Website Redesign</a>
                </div>
                <span class="badge badge-md badge-dot text-xs text-muted">
                  <i class="bg-warning"></i>Away
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="me-auto text-muted">
            <p class="text-sm">23 notifications</p>
          </div>
          <button type="button" class="btn btn-sm btn-neutral" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-sm btn-primary">Clear all</button>
        </div>
      </div>
    </div>
  </div>