<div class="card card-pricing px-8 py-7">
    <div class="">
      <!-- Plan name -->
      <h4 class="mb-3 text-muted font-semibold">Extended</h4>
      <!-- Price -->
      <div class="display-5 d-flex mt-5 text-heading">
        <div>
          $<span class="">49</span>
        </div>
        <div class="text-muted text-base font-semibold align-self-end ms-1">
          <span class="d-block mt-n8"> / month</span>
        </div>
      </div>
      <!-- Text -->
      <p class="text-muted text-sm mt-3">
        The perfect way to get started and get used to our tools.
      </p>
      <hr class="bg-border my-7">
      <!-- List -->
      <ul class="list-unstyled mb-5">
        <li class="py-2 d-flex align-items-center">
          <!-- Icon -->
          <div class="icon icon-xs text-base icon-shape rounded-circle bg-opacity-30 bg-success text-success me-3">
            <i class="bi bi-check"></i>
          </div>
          <!-- Text -->
          <p>
            390+ Templates
          </p>
        </li>
        <li class="py-2 d-flex align-items-center">
          <!-- Icon -->
          <div class="icon icon-xs text-base icon-shape rounded-circle bg-opacity-30 bg-success text-success me-3">
            <i class="bi bi-check"></i>
          </div>
          <!-- Text -->
          <p>
            600+ Icons
          </p>
        </li>
        <li class="py-2 d-flex align-items-center">
          <!-- Icon -->
          <div class="icon icon-xs text-base icon-shape rounded-circle bg-opacity-30 bg-success text-success me-3">
            <i class="bi bi-check"></i>
          </div>
          <!-- Text -->
          <p>
            Build tools
          </p>
        </li>
        <li class="py-2 d-flex align-items-center">
          <!-- Icon -->
          <div class="icon icon-xs text-base icon-shape rounded-circle bg-opacity-30 bg-success text-success me-3">
            <i class="bi bi-check"></i>
          </div>
          <!-- Text -->
          <p>
            Free updates
          </p>
        </li>
        <li class="py-2 d-flex align-items-center">
          <!-- Icon -->
          <div class="icon icon-xs text-base icon-shape rounded-circle bg-opacity-30 bg-success text-success me-3">
            <i class="bi bi-check"></i>
          </div>
          <!-- Text -->
          <p>
            Source files
          </p>
        </li>
      </ul>
      <!-- Button -->
      <a href="#" class="btn w-full btn-primary">Get started</a>
    </div>
  </div>