<div class="card">
    <!-- Actions -->
    <div class="position-absolute top-0 end-0 mt-3 me-5 d-flex align-items-center">
      <div class="mx-n1">
        <a href="#" class="p-1 text-muted">
          <i class="bi bi-three-dots"></i>
        </a>
      </div>
    </div>
    <!-- Content -->
    <div class="card-body py-5">
      <div class="position-relative d-inline-block text-white">
        <div class="avatar rounded-circle">
          <img alt="..." src="https://images.unsplash.com/photo-1579463148228-138296ac3b98?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80">
        </div>
        <img alt="..." src="https://preview.webpixels.io/web/img/other/logos/logo-1.png" class="position-absolute bottom-0 end-0  border-2 border-solid border-current w-5 h-5  rounded-circle">
      </div>
      <!-- Title -->
      <a href="#" class="d-block h5 mt-5 mb-1">Marco Joseph</a>
      <!-- Subtitle -->
      <span class="d-block text-sm font-semibold">Webpixels</span>
      <!-- Stats -->
      <div class="d-flex mt-3 mx-n4">
        <div class="text-xs font-semibold text-muted mx-4 my-2">
          <i class="bi bi-calendar me-1"></i>
          Thu. 16
        </div>
        <div class="text-xs font-semibold text-muted mx-4 my-2">
          <i class="bi bi-clock me-1"></i>
          10:00-12:00
        </div>
      </div>
    </div>
  </div>