<div class="card">
  <div class="card-body pt-10 text-center">
    <div class="position-relative d-inline-block text-">
      <a href="#" class="avatar avatar-lg rounded-circle">
        <img alt="..." src="https://images.unsplash.com/photo-1522307837370-cc113a36b784?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80">
      </a>
      <span class="position-absolute bottom-2 end-2 transform translate-x-1/2 translate-y-1/2 border-2 border-solid border-current w- h- bg-success rounded-circle"></span>
    </div>
    <!-- Title -->
    <a href="#" class="h4 d-block mt-5 mb-2">Mathew McNeal</a>
    <!-- Subtitle -->
    <span class="d-block text-sm text-muted">Web Designer</span>
    <div class="mt-5 mb-7">
      <div class="avatar-group">
        <a href="#" class="avatar avatar-sm rounded-circle text-white border border-1 border-solid border-card">
          <img alt="..." src="https://images.unsplash.com/photo-1604426633861-11b2faead63c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80">
        </a>
        <a href="#" class="avatar avatar-sm rounded-circle text-white border border-1 border-solid border-card">
          <img alt="..." src="https://images.unsplash.com/photo-1597223557154-721c1cecc4b0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80">
        </a>
        <a href="#" class="avatar avatar-sm rounded-circle text-white border border-1 border-solid border-card">
          <img alt="..." src="https://images.unsplash.com/photo-1546820389-44d77e1f3b31?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80">
        </a>
      </div>
    </div>
    <div class="d-flex justify-content-between">
      <button type="button" class="btn btn-sm btn-primary">Follow</button>
      <button type="button" class="btn btn-sm btn-neutral">Message</button>
    </div>
  </div>
</div>