<div class="">
    <label class="form-label" for="formInputExample">Email address</label>
    <div class="d-flex align-items-center">
      <a href="#" class="avatar avatar-lg bg-warning rounded-circle text-white">
        <img alt="..." src="https://images.unsplash.com/photo-1579463148228-138296ac3b98?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80">
      </a>
      <div class="ms-5">
        <label for="file_upload" class="btn btn-sm btn-neutral">
          <span>Upload</span>
          <input type="file" name="file_upload" id="file_upload" class="visually-hidden">
        </label>
        <a href="#" class="btn d-inline-flex btn-sm btn-neutral ms-2 text-danger">
          <span class=" pe-2">
            <i class="bi bi-trash"></i>
          </span>
          <span>Remove</span>
        </a>
      </div>
    </div>
  </div>