<div class="navbar navbar-light bg-light d-none d-lg-flex flex-column flex-nowrap align-items-center h-screen overflow-y-auto px-2 py-md-0 border-end-lg w-18">
    <!-- Brand -->
    <a href="#" class="d-none d-md-block py-3 px-1">
      <img src="https://preview.webpixels.io/web/img/logos/clever-primary-sm.svg" class="w-full h-auto" alt="...">
    </a>
    <ul class="nav navbar-nav flex-row flex-md-column flex-none justify-content-between justify-content-md-center text-center py-3 py-lg-0 mt-10">
      <li class="nav-item">
        <a class="nav-link p-0 py-md-3" href="#">
          <span class="text-base"><i class="bi bi-house"></i>
          </span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link p-0 py-md-3" href="#">
          <span class="text-base"><i class="bi bi-chat"></i>
          </span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link p-0 py-md-3" href="#">
          <span class="text-base"><i class="bi bi-people"></i>
          </span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link p-0 py-md-3" href="#">
          <span class="text-base"><i class="bi bi-bookmarks"></i>
          </span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link p-0 py-md-3" href="#">
          <span class="text-base"><i class="bi bi-pie-chart"></i>
          </span>
        </a>
      </li>
    </ul>
    <!-- Divider -->
    <hr class="navbar-divider my-10 w-full opacity-20">
    <ul class="nav navbar-nav flex-row flex-md-column justify-content-between justify-content-md-center text-center py-3 py-lg-0">
      <li class="nav-item py-3">
        <a class="position-relative" href="#">
          <div class="position-relative d-inline-block text-light">
            <img alt="..." src="https://images.unsplash.com/photo-1548142813-c348350df52b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80" class="avatar rounded-circle">
            <span class="position-absolute top-2 end-2 transform translate-x-1/2 translate-y-n1/2 border-2 border-solid border-current w-3 h-3 bg-success rounded-circle"></span>
          </div>
        </a>
      </li>
      <li class="nav-item py-3">
        <a class="position-relative" href="#">
          <div class="position-relative d-inline-block text-light">
            <span class="avatar bg-opacity-30 bg-warning text-warning rounded-circle">JW</span>
            <span class="position-absolute top-2 end-2 transform translate-x-1/2 translate-y-n1/2 border-2 border-solid border-current w-3 h-3 bg-success rounded-circle"></span>
          </div>
        </a>
      </li>
      <li class="nav-item py-3">
        <a class="position-relative" href="#">
          <div class="position-relative d-inline-block text-light">
            <img alt="..." src="https://images.unsplash.com/photo-1610899922902-c471ae684eff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80" class="avatar rounded-circle">
            <span class="position-absolute top-2 end-2 transform translate-x-1/2 translate-y-n1/2 border-2 border-solid border-current w-3 h-3 bg-danger rounded-circle"></span>
          </div>
        </a>
      </li>
      <li class="nav-item py-3">
        <a href="#" class="btn btn-square btn-neutral shadow-none rounded-circle border-dashed">
          <i class="bi bi-plus"></i>
        </a>
      </li>
    </ul>
    <!-- Push content down -->
    <div class="mt-auto"></div>
    <ul class="nav navbar-nav flex-row flex-md-column justify-content-between justify-content-md-center text-center py-3 py-lg-0">
      <li class="nav-item">
        <a class="nav-link p-0 py-md-3" href="#">
          <span class="text-base"><i class="bi bi-gear"></i>
          </span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link p-0 py-md-3" href="#">
          <span class="text-base"><i class="bi bi-person"></i>
          </span>
        </a>
      </li>
    </ul>
  </div>