<div class="navbar navbar-light bg-light d-none d-lg-flex flex-column flex-nowrap align-items-center h-screen overflow-y-auto px-2 border-end-lg w-18">
    <ul class="nav navbar-nav flex-row flex-md-column justify-content-between justify-content-md-center text-center py-3 py-lg-0 my-n3">
      <li class="nav-item py-2">
        <a href="#">
          <img alt="..." src="https://preview.webpixels.io/web/img/other/logos/logo-3.png" class="avatar avatar-sm rounded-2">
        </a>
      </li>
      <li class="nav-item py-2">
        <a href="#">
          <img alt="..." src="https://preview.webpixels.io/web/img/other/logos/logo-4.png" class="avatar avatar-sm rounded-2">
        </a>
      </li>
      <li class="nav-item py-2">
        <a href="#">
          <img alt="..." src="https://preview.webpixels.io/web/img/other/logos/logo-1.png" class="avatar avatar-sm rounded-2">
        </a>
      </li>
      <li class="nav-item py-2">
        <a href="#">
          <img alt="..." src="https://preview.webpixels.io/web/img/other/logos/logo-2.png" class="avatar avatar-sm rounded-2">
        </a>
      </li>
      <li class="nav-item py-3">
        <a href="#" class="btn btn-sm btn-square btn-neutral shadow-none rounded-2 border-dashed">
          <i class="bi bi-plus"></i>
        </a>
      </li>
    </ul>
    <!-- Push content down -->
    <div class="mt-auto"></div>
    <ul class="nav navbar-nav flex-row flex-md-column justify-content-between justify-content-md-center text-center py-3 py-lg-0">
      <li class="nav-item">
        <a class="nav-link p-0 py-md-3" href="#">
          <span class="text-base"><i class="bi bi-gear"></i>
          </span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link p-0 py-md-3" href="#">
          <span class="text-base"><i class="bi bi-person"></i>
          </span>
        </a>
      </li>
    </ul>
  </div>