<div class="card">
    <!-- Cover -->
    <div class="p-2">
      <img alt="..." src="https://images.unsplash.com/photo-1614935981447-893ce3858657?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&h=300&q=80" class="card-img">
    </div>
    <!-- Profile Image -->
    <div class="transform mx-auto translate-y-n1/2">
      <a href="#" class="avatar avatar-xl bg-warning rounded-circle text-white border border-4 border-card">
        <img alt="..." src="https://images.unsplash.com/photo-1579463148228-138296ac3b98?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80">
      </a>
    </div>
    <!-- Card Body -->
    <div class="card-body py-4 mt-n10">
      <!-- Title -->
      <h5 class="h4 mb-1 text-center">Julienne Moore</h5>
      <!-- Subtitle -->
      <span class="d-block text-muted text-sm text-center">Marketing Expert</span>
      <!-- Stats -->
      <div class="d-flex mt-7">
        <div class="col-4 text-center">
          <a href="#" class="h4 font-bolder">25</a>
          <span class="d-block text-sm">Posts</span>
        </div>
        <div class="col-4 text-center">
          <a href="#" class="h4 font-bolder">350</a>
          <span class="d-block text-sm">Following</span>
        </div>
        <div class="col-4 text-center">
          <a href="#" class="h4 font-bolder">1.5K</a>
          <span class="d-block text-sm">Followers</span>
        </div>
      </div>
      <hr class="mt-7" />
      <div class="row align-items-center">
        <div class="col-6">
          <button type="button" class="btn btn-sm btn-neutral">
            Message
          </button>
        </div>
        <div class="col-6 text-end">
          <button type="button" class="btn btn-sm btn-primary">
            Follow
          </button>
        </div>
      </div>
    </div>
  </div>