<nav class="navbar navbar-expand-lg navbar-light bg-light px-0 py-3">
  <div class="container-xl">
    <!-- Logo -->
    <a class="navbar-brand" href="#">
      <img src="https://preview.webpixels.io/web/img/logos/clever-primary.svg" class="h-8" alt="...">
    </a>
    <!-- Navbar toggle -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <!-- Nav -->
      <ul class="navbar-nav mx-lg-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">Products</a>
          <div class="dropdown-menu dropdown-menu-lg p-0 shadow-6" aria-labelledby="">
            <!-- Links -->
            <div class="px-6 py-6">
              <a href="#" class="dropdown-group" role="button">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="icon icon-shape bg-primary text-white text-lg rounded-4">
                      <i class="bi bi-bar-chart"></i>
                    </div>
                  </div>
                  <div class="ps-4">
                    <span class="d-block dropdown-heading mb-1">Analytics</span>
                    <p class="dropdown-helper">Build anything faster and better.</p>
                  </div>
                </div>
              </a>
            </div>
            <!-- Secondary links -->
            <div class="px-6 mb-6">
              <div class="row">
                <div class="col-sm-4">
                  <a href="#" class="dropdown-item px-0">Headers</a>
                  <a href="#" class="dropdown-item px-0">Footers</a>
                  <a href="#" class="dropdown-item px-0">Blog</a>
                  <a href="#" class="dropdown-item px-0">Call to action</a>
                  <a href="#" class="dropdown-item px-0">Clients</a>
                  <a href="#" class="dropdown-item px-0">Collapse</a>
                </div>
                <div class="col-sm-4">
                  <a href="#" class="dropdown-item px-0">Covers</a>
                  <a href="#" class="dropdown-item px-0">Features</a>
                  <a href="#" class="dropdown-item px-0">Milestone</a>
                  <a href="#" class="dropdown-item px-0">Pricing</a>
                  <a href="#" class="dropdown-item px-0">Projects</a>
                  <a href="#" class="dropdown-item px-0">Subscribe</a>
                </div>
                <div class="col-sm-4">
                  <a href="#" class="dropdown-item px-0">Swiper</a>
                  <a href="#" class="dropdown-item px-0">Tables</a>
                  <a href="#" class="dropdown-item px-0">Team</a>
                  <a href="#" class="dropdown-item px-0">Testimonials</a>
                  <a href="#" class="dropdown-item px-0">Video</a>
                </div>
              </div>
            </div>
            <!-- Secondary dropdown -->
            <div class="dropdown-secondary rounded-bottom py-6 px-6">
              <span class="badge bg-warning text-white lh-relaxed">Yaass!</span>
              <a href="#" class="dropdown-item px-0 mt-2 font-semibold text-wrap">
                Explore, switch, customize any component, section or page and make your website rich its full potential. ->
              </a>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
      </ul>
      <!-- Right navigation -->
      <div class="navbar-nav ms-lg-4">
        <a class="nav-item nav-link" href="#">Sign in</a>
      </div>
      <!-- Action -->
      <div class="d-flex align-items-lg-center mt-3 mt-lg-0">
        <a href="#" class="btn btn-sm btn-primary w-full w-lg-auto">
          Register
        </a>
      </div>
    </div>
  </div>
</nav>