<nav class="navbar navbar-expand-lg navbar-light bg-light px-0 py-lg-0 border-bottom">
  <div class="container-xl">
    <!-- Logo -->
    <a class="navbar-brand" href="#">
      <img src="https://people.gap-sandbox.com/static/media/GAPlogo.4e181e9e.svg" class="h-8" alt="...">
    </a>
    <!-- Navbar toggle -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <!-- Nav -->
      <ul class="navbar-nav mx-lg-auto">
        <li class="nav-item">
          <a class="nav-link py-lg-6" href="#">Home</a>
        </li>
        <li class="nav-item dropdown dropdown-animate position-static">
          <a class="nav-link py-lg-6 dropdown-toggle" href="#" id="navbarDropdownMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">Products</a>
          <div class="dropdown-menu dropdown-menu-lg-fluid p-0 rounded-0 border-0 mt-1 shadow-6" aria-labelledby="">
            <div class="">
              <div class="row g-0">
                <div class="col-12 col-lg-8 mb-6 mb-lg-0">
                  <div class="py-lg-12 px-lg-16">
                    <!-- Title -->
                    <div class="mb-10">
                      <h3 class="mb-3">Getting Started</h3>
                      <p class="dropdown-text">
                        Accelerate your development workflow while remaining consistent in your design.
                      </p>
                    </div>
                    <!-- Links -->
                    <div class="row g-8 g-lg-12 mb-12">
                      <div class="col-md-4">
                        <div class="position-relative">
                          <div class="d-flex align-items-center mb-2">
                            <i class="bi bi-shop text-lg"></i>
                            <span class="dropdown-heading ms-3">Products</span>
                          </div>
                          <p class="text-muted mb-3">
                            See how our products can help you build faster.
                          </p>
                          <a href="#" class="text-sm link-primary font-semibold stretched-link">See products -></a>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="position-relative">
                          <div class="d-flex align-items-center mb-2">
                            <i class="bi bi-briefcase text-lg"></i>
                            <span class="dropdown-heading ms-3">Services</span>
                          </div>
                          <p class="text-muted mb-3">
                            See how our products can help you build faster.
                          </p>
                          <a href="#" class="text-sm link-primary font-semibold stretched-link">See services -></a>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="position-relative">
                          <div class="d-flex align-items-center mb-2">
                            <i class="bi bi-chat text-lg"></i>
                            <span class="dropdown-heading ms-3">Support</span>
                          </div>
                          <p class="text-muted mb-3">
                            See how our products can help you build faster.
                          </p>
                          <a href="#" class="text-sm link-primary font-semibold stretched-link">Get support -></a>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="position-relative">
                          <div class="d-flex align-items-center mb-2">
                            <i class="bi bi-book text-lg"></i>
                            <span class="dropdown-heading ms-3">Docs</span>
                          </div>
                          <p class="text-muted mb-3">
                            See how our products can help you build faster.
                          </p>
                          <a href="#" class="text-sm link-primary font-semibold stretched-link">Read docs -></a>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="position-relative">
                          <div class="d-flex align-items-center mb-2">
                            <i class="bi bi-code text-lg"></i>
                            <span class="dropdown-heading ms-3">API</span>
                          </div>
                          <p class="text-muted mb-3">
                            See how our products can help you build faster.
                          </p>
                          <a href="#" class="text-sm link-primary font-semibold stretched-link">Learn more -></a>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="position-relative">
                          <div class="d-flex align-items-center mb-2">
                            <i class="bi bi-file text-lg"></i>
                            <span class="dropdown-heading ms-3">Resources</span>
                          </div>
                          <p class="text-muted mb-3">
                            See how our products can help you build faster.
                          </p>
                          <a href="#" class="text-sm link-primary font-semibold stretched-link">Explore -></a>
                        </div>
                      </div>
                    </div>
                    <!-- CTA button -->
                    <a href="#" class="btn btn-tertiary text-sm w-full w-lg-auto rounded-pill">Explore the Live Preview</a>
                  </div>
                </div>
                <div class="col-12 col-lg-4 mb-6 mb-lg-0">
                  <span class="dropdown-img-left bg-dark rounded-0" style="background-image: url(https://images.unsplash.com/photo-1587554801471-37976a256db0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80);"></span>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link py-lg-6" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link py-lg-6" href="#">Pricing</a>
        </li>
      </ul>
      <!-- Right navigation -->
      <div class="navbar-nav ms-lg-4">
        <a class="nav-item nav-link" href="#">Sign in</a>
      </div>
      <!-- Action -->
      <div class="d-flex align-items-lg-center mt-3 mt-lg-0">
        <a href="#" class="btn btn-sm btn-primary w-full w-lg-auto">
          Register
        </a>
      </div>
    </div>
  </div>
</nav>