<nav class="navbar navbar-expand-lg navbar-light bg-light px-0 py-3">
  <div class="container-xl">
    <!-- Logo -->
    <a class="navbar-brand" href="#">
      <img src="https://people.gap-sandbox.com/static/media/GAPlogo.4e181e9e.svg" class="h-8" alt="...">
    </a>
    <!-- Navbar toggle -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <!-- Nav -->
      <ul class="navbar-nav mx-lg-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">Products</a>
          <div class="dropdown-menu dropdown-menu-md p-0 shadow-6" aria-labelledby="">
            <div class="px-6">
              <a href="#" class="dropdown-group py-5 border-bottom" role="button">
                <div class="d-flex">
                  <div class="lh-none">
                    <i class="bi bi-shop"></i>
                  </div>
                  <div class="ms-4">
                    <h6 class="dropdown-heading lh-none mb-2">Products</h6>
                    <p class="dropdown-helper">Quick setup and build tools</p>
                  </div>
                </div>
              </a>
              <!-- Secondary links -->
              <div class="py-5">
                <!-- Title -->
                <div class="dropdown-header px-0 text-uppercase text-xs font-semibold">Getting started</div>
                <!-- Links -->
                <div class="row">
                  <div class="col-sm-6">
                    <a href="#" class="dropdown-item px-0">Quick Start</a>
                    <a href="#" class="dropdown-item px-0">Build Tools</a>
                    <a href="#" class="dropdown-item px-0">Customization</a>
                    <a href="#" class="dropdown-item px-0">File Structure</a>
                  </div>
                  <div class="col-sm-6">
                    <a href="#" class="dropdown-item px-0">Icons</a>
                    <a href="#" class="dropdown-item px-0">SVG Icons</a>
                    <a href="#" class="dropdown-item px-0">Illustrations</a>
                    <a href="#" class="dropdown-item px-0">Plugins</a>
                  </div>
                </div>
              </div>
              <a href="#" class="dropdown-group py-5 border-top border-bottom" role="button">
                <div class="d-flex">
                  <div class="lh-none">
                    <i class="bi bi-chat"></i>
                  </div>
                  <div class="ms-4">
                    <h6 class="dropdown-heading lh-none mb-2">Support</h6>
                    <p class="dropdown-helper">Quick setup and build tools</p>
                  </div>
                </div>
              </a>
              <a href="#" class="dropdown-group py-5" role="button">
                <div class="d-flex">
                  <div class="lh-none">
                    <i class="bi bi-book"></i>
                  </div>
                  <div class="ms-4">
                    <h6 class="dropdown-heading lh-none mb-2">Documentation</h6>
                    <p class="dropdown-helper">Quick setup and build tools</p>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
      </ul>
      <!-- Right navigation -->
      <div class="navbar-nav ms-lg-4">
        <a class="nav-item nav-link" href="#">Sign in</a>
      </div>
      <!-- Action -->
      <div class="d-flex align-items-lg-center mt-3 mt-lg-0">
        <a href="#" class="btn btn-sm btn-primary w-full w-lg-auto">
          Register
        </a>
      </div>
    </div>
  </div>
</nav>