<nav class="navbar navbar-expand-lg navbar-light bg-light px-0 py-3">
  <div class="container-xl">
    <!-- Logo -->
    <a class="navbar-brand" href="#">
      <img src="https://people.gap-sandbox.com/static/media/GAPlogo.4e181e9e.svg" class="h-8" alt="...">
    </a>
    <!-- Navbar toggle -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <!-- Nav -->
      <ul class="navbar-nav mx-lg-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">Products</a>
          <div class="dropdown-menu dropdown-menu-2xl dropdown-menu-centered p-0 shadow-6" aria-labelledby="">
            <div class="row g-0">
              <div class="col-12 col-lg-6">
                <div class="dropdown-img-left dropdown-img-mask" style="background-image: url(https://images.unsplash.com/photo-1532763303805-529d595877c5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80);">
                  <div class="position-relative overlap-10 text-center">
                    <!-- Heading -->
                    <h3 class="ls-tight text-white">
                      Ready to get started?
                    </h3>
                    <!-- Text -->
                    <p class="text-sm text-white text-opacity-75 mb-6">
                      Check out the latest features.
                    </p>
                    <!-- Button -->
                    <a href="#" class="btn btn-sm btn-white shadow-3-hover">
                      Learn more
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-6">
                <div class="p-6 px-10">
                  <div class="row no-gutters">
                    <div class="col-6">
                      <!-- Title -->
                      <div class="dropdown-header px-0 text-uppercase text-xs font-semibold">Products</div>
                      <!-- List -->
                      <a class="dropdown-item px-0" href="#">
                        E-commerce
                      </a>
                      <a class="dropdown-item px-0" href="#">
                        Analytics
                      </a>
                      <a class="dropdown-item px-0" href="#">
                        Marketing
                      </a>
                      <!-- Title -->
                      <div class="dropdown-header px-0 text-uppercase text-xs font-semibold mt-6">Services</div>
                      <!-- List -->
                      <a class="dropdown-item px-0" href="#">
                        Web Design
                      </a>
                      <a class="dropdown-item px-0" href="#">
                        Development
                      </a>
                    </div>
                    <div class="col-6">
                      <!-- Title -->
                      <div class="dropdown-header px-0 text-uppercase text-xs font-semibold">Get started</div>
                      <!-- List -->
                      <a class="dropdown-item px-0" href="#">
                        Documentation
                      </a>
                      <a class="dropdown-item px-0" href="#">
                        API Reference
                      </a>
                      <a class="dropdown-item px-0" href="#">
                        Support
                      </a>
                      <!-- Title -->
                      <div class="dropdown-header px-0 text-uppercase text-xs font-semibold mt-6">Community</div>
                      <!-- List -->
                      <a class="dropdown-item px-0" href="#">
                        Forum
                      </a>
                      <a class="dropdown-item px-0" href="#">
                        Resources
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
      </ul>
      <!-- Right navigation -->
      <div class="navbar-nav ms-lg-4">
        <a class="nav-item nav-link" href="#">Sign in</a>
      </div>
      <!-- Action -->
      <div class="d-flex align-items-lg-center mt-3 mt-lg-0">
        <a href="#" class="btn btn-sm btn-primary w-full w-lg-auto">
          Register
        </a>
      </div>
    </div>
  </div>
</nav>