<nav class="navbar navbar-expand-lg navbar-light bg-light px-0 py-3">
  <div class="container-xl">
    <!-- Logo -->
    <a class="navbar-brand" href="#">
      <img src="https://preview.webpixels.io/web/img/logos/clever-primary.svg" class="h-8" alt="...">
    </a>
    <!-- Navbar toggle -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <!-- Nav -->
      <ul class="navbar-nav mx-lg-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">Products</a>
          <div class="dropdown-menu dropdown-menu-md p-0 shadow-6" aria-labelledby="">
            <div class="px-6 py-6">
              <a href="#" class="dropdown-group mb-8" role="button">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="icon icon-shape bg-primary text-white text-lg rounded-4">
                      <i class="bi bi-house-door"></i>
                    </div>
                  </div>
                  <div class="ps-4">
                    <span class="d-block dropdown-heading mb-0">Home</span>
                    <p class="dropdown-helper">Spend less time creating pages.</p>
                  </div>
                </div>
              </a>
              <a href="#" class="dropdown-group mb-8" role="button">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="icon icon-shape bg-tertiary text-white text-lg rounded-4">
                      <i class="bi bi-briefcase"></i>
                    </div>
                  </div>
                  <div class="ps-4">
                    <span class="d-block dropdown-heading mb-0">Services</span>
                    <p class="dropdown-helper">Spend less time creating pages.</p>
                  </div>
                </div>
              </a>
              <a href="#" class="dropdown-group mb-8" role="button">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="icon icon-shape bg-warning text-white text-lg rounded-4">
                      <i class="bi bi-shop"></i>
                    </div>
                  </div>
                  <div class="ps-4">
                    <span class="d-block dropdown-heading mb-0">Products</span>
                    <p class="dropdown-helper">Spend less time creating pages.</p>
                  </div>
                </div>
              </a>
              <a href="#" class="dropdown-group mb-8" role="button">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="icon icon-shape bg-info text-white text-lg rounded-4">
                      <i class="bi bi-newspaper"></i>
                    </div>
                  </div>
                  <div class="ps-4">
                    <span class="d-block dropdown-heading mb-0">Blog</span>
                    <p class="dropdown-helper">Spend less time creating pages.</p>
                  </div>
                </div>
              </a>
              <a href="#" class="dropdown-group" role="button">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="icon icon-shape bg-success text-white text-lg rounded-4">
                      <i class="bi bi-envelope"></i>
                    </div>
                  </div>
                  <div class="ps-4">
                    <span class="d-block dropdown-heading mb-0">Contact</span>
                    <p class="dropdown-helper">Spend less time creating pages.</p>
                  </div>
                </div>
              </a>
            </div>
            <!-- Secondary dropdown -->
            <div class="dropdown-secondary rounded-bottom py-6 px-6">
              <!-- Title -->
              <div class="dropdown-header px-0 text-uppercase text-xs font-semibold">Development</div>
              <!-- Links -->
              <a href="#" class="dropdown-item px-0 font-semibold text-limit">
                Read the latest articles on our blog
              </a>
              <a href="#" class="dropdown-item px-0 font-semibold text-limit">
                Browse through complete examples to quickly learn how to use our products
              </a>
              <a href="#" class="dropdown-item px-0 font-semibold text-limit">
                See how our tools can help you scale your project faster
              </a>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
      </ul>
      <!-- Right navigation -->
      <div class="navbar-nav ms-lg-4">
        <a class="nav-item nav-link" href="#">Sign in</a>
      </div>
      <!-- Action -->
      <div class="d-flex align-items-lg-center mt-3 mt-lg-0">
        <a href="#" class="btn btn-sm btn-primary w-full w-lg-auto">
          Register
        </a>
      </div>
    </div>
  </div>
</nav>