<div class="list-group">
    <div class="list-group-item d-flex">
      <div>
        <img alt="..." src="https://preview.webpixels.io/web/img/other/logos/logo-1.png" class="w-16 card-img">
      </div>
      <div class="ms-4 flex-fill">
        <h5 class="mb-1">UX Designer</h5>
        <span class="d-block text-primary font-semibold text-sm">
          Dribbble - Wroclaw
        </span>
        <span class="d-block text-heading font-semibold mt-3 mb-5">$2.500 - $3.800</span>
        <div class="d-flex align-items-center">
          <div class="">
            <a href="#" class="btn btn-sm btn-neutral">See more</a>
          </div>
          <div class="text-sm text-muted ms-auto text-end">
            3 days left
          </div>
        </div>
      </div>
    </div>
    <div class="list-group-item d-flex">
      <div>
        <img alt="..." src="https://preview.webpixels.io/web/img/other/logos/logo-3.png" class="w-16 card-img">
      </div>
      <div class="ms-4 flex-fill">
        <h5 class="mb-1">Web Developer</h5>
        <span class="d-block text-primary font-semibold text-sm">
          Figma - Bucharest
        </span>
        <span class="d-block text-heading font-semibold mt-3 mb-5">$4.500 - $5.300</span>
        <div class="d-flex align-items-center">
          <div class="">
            <a href="#" class="btn btn-sm btn-neutral">See more</a>
          </div>
          <div class="text-sm text-muted ms-auto text-end">
            3 days left
          </div>
        </div>
      </div>
    </div>
    <div class="list-group-item d-flex">
      <div>
        <img alt="..." src="https://preview.webpixels.io/web/img/other/logos/logo-4.png" class="w-16 card-img">
      </div>
      <div class="ms-4 flex-fill">
        <h5 class="mb-1">Sales Manager</h5>
        <span class="d-block text-primary font-semibold text-sm">
          Mailchimp - New York
        </span>
        <span class="d-block text-heading font-semibold mt-3 mb-5">$2.000 - $2.500</span>
        <div class="d-flex align-items-center">
          <div class="">
            <a href="#" class="btn btn-sm btn-neutral">See more</a>
          </div>
          <div class="text-sm text-muted ms-auto text-end">
            3 days left
          </div>
        </div>
      </div>
    </div>
  </div>